<%= form_for @team, :html=>{:class=>"form-horizontal"} do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "勘探队名称",:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :name, :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "勘探队领队",:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :leader, :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "联系方式",:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :contact, :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "成员数量",:class=>"control-label" %>
    <div class="controls">
    <%= f.number_field :memberquantity, :class=>"text_field" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "新增队伍" , :class=>"btn btn-primary" %> |
    <%= link_back %>
  </div>
<% end %>
<%=setActiveTab("_teams") %>
