<%= content_for :inline_stylesheets do %>
  <style>
    div#footer {
      position: fixed;
      bottom: 0px;
      width: 100%;
    }
    div#wrapper {
      margin-bottom: 5em;
    }
    .baselayout {
      background-color: #F5F5F5;
    }
    .baselayout:before {
      display: none;
    }
  </style>
<% end %>
<div id="wrapper" class="container">
  <div class="page-header">
    <h1><%= t 'headers.project' %></h1>
  </div>

  <div style="height: 100px;"></div>

  <div class="row">
    <div class="span3"></div>
    <div class="span6">
      <%= form_tag sessions_path, :class => "form-horizontal" do %>
        <div class="control-group">
          <%= label_tag :account, t("headers.others.account"), :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <%= text_field_tag :account, params[:account], :placeholder => t("headers.others.account") %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :password, t("headers.others.password"), :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-lock"></i>
              </span>
              <%= password_field_tag :password, params[:password], :placeholder => t("headers.others.password") %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag t("labels.sign_in"), :class => "btn btn-primary" do %>
              <i class="icon-key"></i>
            <% end %>
          </div>
        </div>


      <% end %>
      <%= render "layouts/flash_messages" %>
    </div>
    <div class="span3"></div>
  </div>
</div>

<div id="footer" style="background-color: #c2c2c2;">
  <footer>
    <p style="text-align:center">&copy; <%= t("headers.company") %> <%= t "headers.year" %></p>
  </footer>
</div>
