<%= content_for :inline_stylesheets do %>
  <style>
    div#footer { 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box; 
      box-sizing: border-box; 
      background: url("assets/background/dark.png"); 
      height: 42px; 
      width: 100%; 
      padding: 0 20px; 
      border-top: 4px solid #EF705B; 
      position: absolute; 
      bottom: 0; 
      font-size: 11px; 
      color: #fff; 
    }
    
    .copyrights { 
      display: block; 
      float: left; 
      padding: 9px 0; 
    }

    .footer-links a { 
      float: right; 
      color: #fff; 
      display: block; 
      white-space: nowrap; 
      border-left: 1px solid #464646; 
      border-right: 1px solid #464646; 
      padding: 9px 14px 8px 14px; 
      line-height: 21px;
    } 
    
    div#wrapper {
      margin-bottom: 5em;
    }

    .baselayout {
      background-image: url("<%= image_path('background/main.png') %>");
      background-size: cover;
    }

    .baselayout:before {
      display: none;
    }

    #top { 
      height: 48px; 
      display: block; 
    }
    .fixed { 
      position: fixed; 
      height: 48px; 
      font-size: 18px; 
      color: #fff; 
      width: 100%; 
      z-index: 1039; 
      background: url("/assets/background/dark.png"); 
      padding: 0 20px; 
      border-bottom: 4px solid #ef705b; 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      -ms-box-sizing: border-box; 
      box-sizing: border-box; 
    }
    
  </style>
<% end %>
  <div id="top">
  <div class="fixed">
    <h3><%= t 'headers.project' %></h3>
  </div>
  </div>

<div id="wrapper" class="container">

  <div style="height: 100px;"></div>

  <div class="row">
    <div class="span3"></div>
    <div class="span6">
      <%= form_tag sessions_path, :class => "form-horizontal" do %>
        <div class="control-group">
          <%= label_tag :account, t("headers.others.account"), :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <%= text_field_tag :account, params[:account], :placeholder => t("headers.others.account") %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :password, t("headers.others.password"), :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-lock"></i>
              </span>
              <%= password_field_tag :password, params[:password], :placeholder => t("headers.others.password") %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag t("labels.sign_in"), :class => "btn btn-primary" %>
          </div>
        </div>


      <% end %>
      <%= render "layouts/flash_messages" %>
    </div>
    <div class="span3"></div>
  </div>
</div>

<div id="footer">
  <div class="copyrights"> 
    <p style="text-align:center">&copy; <%= t("headers.company") %> <%= t "headers.year" %></p>
  </div>
  <div class="footer-links">
	<a href="" title=""><i class="icon-cogs"></i> 联系管理员</a>
  </div>

</div>
