<% content_for(:title, "钻塔入库") %>
<% content_for(:page_header_description, "钻塔入库") %>
<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
  <%= stylesheet_link_tag "chosen" %>
  <%= stylesheet_link_tag 'datepicker' %>
<% end %>

<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-datepicker.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
  <%= javascript_include_tag 'date-time/daterangepicker.min' %>
  <%= javascript_include_tag 'bootstrap-colorpicker.min' %>
<% end %>

<%= form_for @drilltower, :url=>{:action=>"create"} ,:html=>{:multipart=>true,:class=>"form-horizontal" } do |f| %>
  <% if @drilltower.errors.any? %>
    <div id="error_explanation">
      <h2> <%=pluralize(@drilltower.errors.count, "error") %> 错误由于：</h2>
      <ul>
        <% @drilltower.errors.full_messages.each do |msg| %>
          <li><%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "设备编号", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :devicenumber , :class=>"input-large" %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "钻塔型号", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :model , :class=>"input-large" %>
    </div>
  </div>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "钻塔高度", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :height , :class=>"input-large" %><span class="add-on">m</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "顶宽尺寸", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
       <%= f.text_field :topsize , :class=>"input-large" %><span class="add-on">m×m</span>
      </div>
    </div>
  </div>
  </div>

  </div>



  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "有效载荷", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :effectiveload , :class=>"input-large" %><span class="add-on">吨</span>
      </div>
    </div>
  </div>
  </div>
  <div class="span5">
  <div class="control-group">
    <%= f.label "底盘尺寸", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :basePlatformsize , :class=>"input-large" %><span class="add-on">m×m</span>
      </div>
    </div>
  </div>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "重量", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :weight , :class=>"input-large" %><span class="add-on">kg</span>
      </div>
    </div>
  </div>
</div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "立根长度", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :pipequantityAndLenght , :class=>"input-large" %><span class="add-on">m</span>
      </div>
    </div>
  </div>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "厂商", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :manufacture , :class=>"input-large" %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "厂商联系方式", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :manufactureContact , :class=>"input-large" %>
    </div>
  </div>
  </div>
  </div>

  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "单位编码", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :officialcode , :class=>"input-large" %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "图片", :class=>"control-label" %>
    <div class="controls">
      <input name="drilltower[attachment_attributes][data]" type="file" class="input-medium" id="_drilltower_picture" />
      <% if @drilltower.attachment %>
        <span id="att_<%=@drilltower.attachment.id%>"><%=link_to @drilltower.attachment.data.url do %><%= @drilltower.attachment.data_origin_file_name %> <% end %><a href="#" onclick="deleteAttachment(<%=@drilltower.attachment.id%>)"><i class="icon-remove bigger"></i></a></span>
      <% end %>
    </div>
  </div>
  </div>

  </div>

  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "备注", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :remark , :rows=>"4", :cols=>"20" , :class=>"input-xxlarge" %>
    </div>
  </div>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit "保存钻塔入库单" , :class=>"btn btn-primary" %>
    <%= link_back :class=>'btn btn-info'%>
  </div>
<% end %>
<%= content_for :inline_javascripts do %>
  <script type="text/javascript">

  $(function(){

  $('#_drilltower_picture').ace_file_input({
        no_file:'未选择文件 ...',
        btn_choose:'选择',
        btn_change:'重新选择',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
        });

  $("#new_drilltower").validate({
  rules:{
  "drilltower[officialcode]":{required:true,maxlength:500},
  "drilltower[model]":{required:true, maxlength:50},
  "drilltower[weight]":{required:true},
  "drilltower[manufacture]":{required:true},
  "drilltower[manufactureContact]":{required:true},
  },
  messages:{
     "drilltower[officialcode]":{required:"单位编码不能为空",maxlength:"单位编码不能超过500字符"},
     "drilltower[model]":{required:"钻塔型号不能为空", maxlength:"钻塔型号不能超过50字符"},
     "drilltower[weight]":{required:"钻孔重量不能为空"},
     "drilltower[manufacture]":{required:"厂商不能为空"},
     "drilltower[manufactureContact]":{required:"厂商联系方式不能为空"},
  }
 });

});
</script>
<% end %>
