<div class="page-header">
  <h3>设备管理/设备入库/钻塔入库单查看</h3>
</div>
<p id="notice"> <%= notice %> </p>
<dl class="dl-horizontal">
  <dt><strong>钻塔型号</strong></dt>
  <dd><%= @drilltower.model %> </dd>
  <dt><strong>钻塔高度</strong></dt>
  <dd><%= @drilltower.height %> </dd>
  <dt><strong>钻塔深度</strong></dt>
  <dd><%= @drilltower.deep %> </dd>
  <dt><strong>钻塔有效载荷</strong></dt>
  <dd><%= @drilltower.effectiveload %> </dd>
  <dt><strong>提升钻杆根数与长度</strong></dt>
  <dd><%= @drilltower.pipequantityAndLenght %> </dd>
  <dt><strong>滑车组数与减轻负荷倍数</strong></dt>
  <dd><%= @drilltower.sheaveQuantity %> </dd>
  <dt><strong>钻塔顶宽尺寸</strong></dt>
  <dd><%= @drilltower.topsize %> </dd>
  <dt><strong>钻塔重量</strong></dt>
  <dd><%= @drilltower.weight %> </dd>
  <dt><strong>钻塔工作台高度</strong></dt>
  <dd><%= @drilltower.workbenchHeight %> </dd>
  <dt><strong>钻塔图片</strong></dt>
  <dd>
  <ul class="thumbnails">
    <li class="span2">
      <div class="thumbnail">
        <img data-src="holder.js/260x180" alt="钻塔图片" src="/assets/zuanta.jpg"/>
      </div>
   </li>
 </ul>
 </dd>
</dl>
<div class="form-actions">
  <%= link_to "返回" , {:controller=>"equipment", :action=>"index"} , :class=>"btn" %>
</div>
