<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"钻塔入库单详情") %>

  <div class="row-fluid">
    <div class="span10">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter">
            <i class="icon-star green"></i>
            钻塔入库单详情
          </h5>

          <div class="widget-toolbar">
            <a href="#" data-action="collapse">
              <i class="icon-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main no-padding">
      <table class="table table-hover table-bordered">
        <thead>
        </thead>
        <tbody>
    <tr>
      <td width="15%">设备编号</td>
      <td width="25%"><span class="text-error"><%= @drilltower.devicenumber%></span></td>
      <td width="15%">钻塔型号</td>
      <td width="35%"><span class="text-error"><%= @drilltower.model %></span></td>
    </tr>
    <tr>
      <td>钻塔高度</td>
      <td><span class="text-error"><%= @drilltower.height %>m</span></td>
      <td>钻塔有效载荷</td>
      <td><span class="text-error"><%= @drilltower.effectiveload %>吨</span></td>
    </tr>
    <tr>
      <td>钻塔顶宽尺寸</td>
      <td><span class="text-error"><%= @drilltower.topsize %>(m×m)</span></td>
      <td>立根长度</td>
      <td><span class="text-error"><%= @drilltower.pipequantityAndLenght %>(m)</span></td>
    </tr>
    <tr>
      <td>单位编码</td>
      <td><span class="text-error"><%= @drilltower.officialcode %>t</span></td>
      <td>钻塔重量</td>
      <td><span class="text-error"><%= @drilltower.weight %>t</span></td>
    </tr>
    <tr>
      <td>厂商</td>
      <td><span class="text-error"><%= @drilltower.manufacture %></span></td>
      <td>厂商联系方式</td>
      <td><span class="text-error"><%= @drilltower.manufactureContact %></span></td>
    </tr>
    <tr>
      <td>钻塔图片</td>
      <td colspan="3">
      <div class="thumbnail">
        <img data-src="holder.js/260x180" alt="钻塔图片" src="<%= @drilltower.attachment.data.url%>"/>
      </div>
      </td>
    </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>


<div class="form-actions">
  <%= link_to "返回" , {:controller=>"equipment", :action=>"index"} , :class=>"btn" %>
</div>
