<% content_for(:title, "钻孔配置" ) %>
<% content_for(:page_header_description, "分别选择施工队伍、使用设备和使用材料配置钻孔所需的人员、设备和材料") %>
<%= render partial: "layouts/flash_messages" %>
<%= form_for(:holelist,:url=>holelist_create_path(@deployment) ,:html=>{:class=>"form-horizontal"}) do |f| %>
  <div class="row-fluid">
    <div class="span12">
      <div class="control-group">
        <%= f.label "矿区" ,:class=>"control-label" %>
        <div class="controls">
        <%= f.label @hole.minearea, :class=>"span10" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5">
      <div class="control-group">
        <%= f.label "合同名称" , :class=>"control-label" %>
        <div class="controls">
          <%= f.label @hole.contract.name, :class=>"span3" %>
        </div>
      </div>
    </div>
    
    <div class="span5">
      <div class="control-group">
        <%= f.label "孔号", :class=>"control-label" %>
        <div class="controls">
          <%= f.label @hole.holenumber, :class=>"span2" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
<% content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= javascript_include_tag 'jquery.dataTables.bootstrap' %>
<% end %>
<% content_for :inline_javascripts do %>
<script language="javascript">

</script>
<% end %>
