<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>钻孔管理<span class="divider">/</span></li>
    <li>钻孔配置</li>
  </ul>
  </h5>
</div>

<table class="table table-striped">
  <tr>
    <th>矿区</th>
    <th>孔号</th>
    <th>深度</th>
    <th>孔径</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>所属合同</th>
    <th>施工队伍</th>
    <th>使用设备</th>
    <th>使用材料</th>
  </tr>

<% @holes_list.each do |hole| %>
  <tr>
    <td><%= hole.minearea %></td>
    <td><%= hole.holenumber %></td>
    <td><%= hole.designdeep %></td>
    <td><%= hole.designdiameter %></td>
    <td><%= hole.startdate %></td>
    <td><%= hole.finishdate %></td>
    <td><%= link_to hole.contract.name,{:controller=>"contracts", :action=>"show", :id=>hole.contract.id } %></td>
    <td><%= link_to '施工队伍', {:controller=>"holes" , :action=>"edit", :id=>hole.id, :contract_id=>hole.contract.id}%></td>
    <td><%= hole_use_device(hole) %></td>
    <td><%= hole_use_materials(hole) %></td>
  </tr>
<% end %>
</table>
<div id="_modal" class="modal hide fade" tabindex="-1" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>请配置使用的钻机</h5>
  </div>
  <div class="modal-body">
     <table class="table table-bordered">
       <tr>
         <td>钻机</td>
         <td>
           <select multiple="multiple" class="span4">
            <% @rigmachine.each do |rig| %>
            <option value="<%=rig.id%>"><%=rig.rigmodel%></option>
             <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>钻塔</td>
          <td>
            <select multiple="multiple" class="span4">
              <% @drilltower.each do |tower| %>
                <option value="<%= tower.id %>"><%= tower.model %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>泥浆泵</td>
          <td>
            <select multiple="multiple" class="span4">
              <% @pump.each do |pump|%> 
                <option value="<%=pump.id %>"><%= pump.pumpmodel %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">关闭</button>
    <a href="#" class="btn btn-primary">确定</a>
  </div>
</div>
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4">
    <%= will_paginate @holes_list, :renderer=>BootstrapPagination::Rails %>
  </div>
</div>
<script language="javascript">
  function open_modal()
  {
    $("#_modal").modal();
  }
</script>
