<% content_for(:title, "钻孔配置" ) %>
<% content_for(:page_header_description, "分别选择施工队伍、使用设备和使用材料配置钻孔所需的人员、设备和材料") %>
<table id="_table_holes" class="table table-striped">
<thead>
  <tr>
    <th>矿区</th>
    <th>所属合同</th>
    <th>孔号</th>
    <th>机长/项目经理</th>
    <th>钻机</th>
    <th>钻塔</th>
    <th>泥浆泵</th>
    <th>使用材料</th>
    <th>操作</th>
  </tr>
</thead>

<tbody>
<% @holes_list.each do |hole| %>
  <tr>
    <td><%= hole.minearea %></td>
    <td><%= link_to hole.contract.name,{:controller=>"contracts", :action=>"show", :id=>hole.contract.id } %></td>
    <td><%= hole.holenumber %></td>
    <td><%= hole_administrator hole.id %></td>
    <td><%= hole_rigmachine hole.id %></td>
    <td><%= hole_drilltower hole.id %></td>
    <td><%= hole_pump hole.id %></td>
    <td>&nbsp;</td>
    <td><%= hole_deployment(hole) %></td>
  </tr>
<% end %>
</tbody>
</table>
<% content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= javascript_include_tag 'jquery.dataTables.bootstrap' %>
<% end %>
<% content_for :inline_javascripts do %>
<script language="javascript">
  function open_hole_deployment(holeid)
  {
    //$("#_modal_material").modal();
    window.location.href="<%=holelist_deployment_path%>?holeid="+holeid
  }

  $(function(){
    var oTable1 = $("#_table_holes").dataTable({
      "aoColumns" :[null,null,null,null,null,null,null,
      {"bSortable":false},
      {"bSortable":false}
      ],
      "bAutoWidth" : false,
      "oLanguage":{
        "sLengthMenu":"每页 _MENU_",
        "sZeroRecords":"对不起,没有数据",
        "sInfo":"显示 _START_ 到 _END_ ,总计_TOTAL_数据",
        "sInfoEmpty":"显示 0 到 0 , 总计0条数据",
        "sSearch": "检索",
        "sProcessing": "系统正在处理...",
        "sInfoFiltered":"(过滤_MAX_数据)" },
        "sDom": "<'row-fluid'<'span6 offset6'<'dt-search'>>r>t<'row-fluid'<'span4'i><'span8'pl>>"
    });

    $("div.dt-search").html("<input id='dt-search-input' type='text''><button id='dt-search-btn' class='btn btn-mini'><i class='icon-search'></i></button>");
    $("#dt-search-btn").click(function(){
      var filterString = $('#dt-search-input').val();
      oTable1.fnFilter(filterString);
    });
  })
</script>
<% end %>
