<%= form_for @contract, :html=>{:class=>"form-horizontal"}  do |f|  %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "合同名称" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name , :class=>"input-xxlarge",:placeholder=>"机械岩心钻探合同书" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "项目名称" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :projectname, :class=>"input-xxlarge", :size=>50, :placeholder=>"河南省小秦岭金矿田北矿带F5矿脉深部金矿普查（Ⅰ标段）" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同编号" ,:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :contractno, :class=>"text_field",:placeholder=>"zt20130001" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同业主" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :owner, :class=>"input-xxlarge" ,:placeholder=>"郑州四院" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同乙方" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :buyerparty, :class=>"input-xxlarge" ,:placeholder=>"郑州四院" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "项目所在地" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :projectaddr, :class=>"input-xxlarge" ,:placeholder=>"河南省洛阳市XX县" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "资金来源" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :fundsource, :class=>"text_field" ,:placeholder=>"省财政" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同金额" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :fundsource, :class=>"text_field" ,:placeholder=>"10,000" %><span class="add-on">元</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同内容" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :content, :class=>"input-xxlarge",:placeholder=>"",:rows=>4,:cols=>"20" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "签订日期", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :signdate ,:class=>"text_field",:placeholder=>"2013-04-05" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "开始日期", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :startdate, :class=>"text_field" , :placeholder=>"2013-05-03"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "结束日期", :class=>"control-label"%>
    <div class="controls">
    <%= f.text_field :finishdate, :class=>"text_field"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同状态",:class=>"control-label" %>
    <div class="controls">
    <%= f.number_field :status,:class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "合同附件",:class=>"control-label" %>
    <div class="controls">
     <i class="icon-folder-open"></i> <%= f.file_field :remark,:class=>"text" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "备注",:class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :remark,:class=>"input-xxlarge",:rows=>3,:cols=>20 %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "新增合同" , :class=>"btn btn-primary" %>
    <%= link_back :class=>'btn btn-info'%>
  </div>
<% end %>
<%= make_datepicker("#contract_startdate") %>
<%= make_datepicker("#contract_finishdate") %>
<%= make_datepicker("#contract_signdate") %>
