<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"合同统计") %>
<% content_for(:page_header_description, "合同统计功能") %>
<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'FusionCharts' %>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs" id="_tabs">
    <li class="active">
    <a href="#tab1" data-toggle="tab">
      <i class="pink icon-dashboard bigger-110"></i>
      合同状态统计
    </a>
    </li>
    <li> 
    <a href="#tab2" data-toggle="tab">
      <i class="blue icon-user bigger-110"></i>
      资金来源统计
    </a>
    </li>
    <li> 
    <a href="#tab3" data-toggle="tab">
      <i class="icon-rocket"></i>
      合同金额
    </a>
    </li>
    <li> 
    <a href="#tab4" data-toggle="tab">
      <i class="icon-rocket"></i>
      业主名称
    </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">

<div class="page-section">
  <div class="container">
    <div class="span12">
      <div align="center">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="300" height="150" id="Column3D" >
			   <param name="movie" value="/FusionCharts/Pie2D.swf?chartWidth=900&chartHeight=450" />
               <param name="FlashVars" value="&dataXML=<%=@chartxml%>">
			   <param name="quality" value="high" />
               <embed src="/FusionCharts/Pie2D.swf?chartWidth=900&chartHeight=420" flashVars="&dataXML=<%=@chartxml%>" quality="high" width="900" height="420" name="Column3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			</object>
          </div>
    </div>
  </div>
</div>

    </div>

    <div class="tab-pane" id="tab2">

<div class="page-section">
  <div class="container">
    <div class="span12">
      <div align="center">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="300" height="150" id="Column3D" >
			   <param name="movie" value="/FusionCharts/Column3D.swf?chartWidth=900&chartHeight=450" />
               <param name="FlashVars" value="&dataXML=<%=@chartxml%>">
			   <param name="quality" value="high" />
               <embed src="/FusionCharts/Column3D.swf?chartWidth=900&chartHeight=420" flashVars="&dataXML=<%=@chartxml%>" quality="high" width="900" height="420" name="Column3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			</object>
          </div>
    </div>
  </div>
</div>


    </div>
    <div class="tab-pane" id="tab3">
    </div>
    <div class="tab-pane" id="tab4">
    </div>
  </div>
</div>


<div class="form-actions">
  <%= link_to contracts_path,:class=>"btn btn-primary btn-small" do  %>返回 <i class="icon-arrow-left icon-on-right"></i> <% end %>
</div>
<%= content_for :inline_javascripts do %>
  <script type="text/javascript">

  $(function(){

  });
  </script>
<% end %>
