<% content_for(:title, "合同关闭") %>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>合同编号</th>
    <th>合同名称</th>
    <th>项目名称</th>
    <th>业主</th>
    <th>乙方</th>
    <th>合同金额</th>
    <th>开始日期</th>
    <th>完成日期</th>
    <th>合同状态</th>
    <th>操作</th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.contractno %></td>
    <td><%= link_to contract.name, contract_path(contract) %></td>
    <td><%= contract.projectname %></td>
    <td><%= contract.owner %></td>
    <td><%= contract.buyerparty %></td>
    <td><%= contract.contractamount %></td>
    <td><%= contract.startdate %></td>
    <td><%= contract.finishdate %></td>
    <td><%= contract_status_treat(contract.status) %></td>
    <td><button class="btn btn-small btn-primary" onclick="javascript:open_modal(this)">关闭</button></td>
  </tr>
<% end %>
</table>
<br />
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4">
    <%= will_paginate @contracts, :renderer=>BootstrapPagination::Rails %>
  </div>
</div>
<div id="_close_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>您确认需要关闭该钻孔吗</h5>
  </div>
  <div class="modal-body">
    <p> 合同名称:<span id="_contract_name" class="label label-important"></span></p>
    <p> 项目名称:<span id="_project_name"class="label label-important"></span></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">否</button>
    <a href="#" class="btn btn-primary">是</a>
  </div>
</div>
<script language="javascript">
  function open_modal(obj)
  {
    $("#_contract_name").html($(obj).parent().parent().find("td:eq(0)").text());
    $("#_project_name").html($(obj).parent().parent().find("td:eq(1)").text());
    $("#_close_modal").modal();
  }
</script>
