<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"合同详情") %>
<% content_for(:page_header_description, "合同详情情况，请确认") %>
<div class="page-section">
<dl class="dl-horizontal">
  <dt><strong>合同名称:</strong></dt>
  <dd><%= @contract.name %></dd>
  <dt><strong>合同内容:</strong></dt>
  <dd><%= @contract.content %></dd>
  <dt><strong>签订日期:</strong></dt>
  <dd><%= @contract.signdate %></dd>
  <dt><strong>开始日期:</strong></dt>
  <dd><%= @contract.startdate %></dd>
  <dt><strong>结束日期:</strong></dt>
  <dd><%= @contract.finishdate %></dd>
  <dt><strong>合同状态:</strong></dt>
  <dd><%= contract_status @contract.status %></dd>
</dl>
</div>
<div class="row-fluid">

</div>
<div class="form-actions">
  <%= link_to '编辑', edit_contract_path(@contract) ,:class=>"btn"%> |
  <%= link_to '增加钻孔', new_hole_path(@contract) ,:class=>"btn"%> |
  <%= link_to '返回', contracts_path,:class=>"btn btn-primary" %>
</div>
