<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"泥浆泵入库单详情") %>
  <div class="row-fluid">
    <div class="span10">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter">
            <i class="icon-star green"></i>
            泥浆泵入库单详情
          </h5>

          <div class="widget-toolbar">
            <a href="#" data-action="collapse">
              <i class="icon-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main no-padding">
      <table class="table table-hover table-bordered">
        <thead>
        </thead>
        <tbody>
    <tr>
      <td width="15%">泥浆泵设备编号</td>
      <td width="25%"><span class="text-error"><%=@pump.devicenumber %></span></td>
      <td width="15%">单位编码</td>
      <td width="35%"><span class="text-error"><%=@pump.officialcode %></span></td>
    </tr>
    <tr>
      <td width="15%">泥浆泵型号</td>
      <td width="35%"><span class="text-error"><%=@pump.pumpmodel %></span></td>
      <td>泥浆泵功率</td>
      <td><span class="text-error"><%=@pump.power %>kW</span></td>
    </tr>
    <tr>
      <td>泥浆泵缸径</td>
      <td><span class="text-error"><%=@pump.pumpDiameter %>mm</span></td>
      <td>泥浆泵压力</td>
      <td><span class="text-error"><%=@pump.pressure %>MPa</span></td>
    </tr>
    <tr>
      <td>流量</td>
      <td><span class="text-error"><%=@pump.traffic %>L/min</span></td>
      <td>重量</td>
      <td><span class="text-error"><%=@pump.weight %>kg</span></td>
    </tr>
    <tr>
      <td>外观尺寸</td>
      <td><span class="text-error"><%=@pump.overallsize %>(长(mm)×宽(mm)×高(mm))</span></td>
      <td>备注</td>
      <td><span class="text-error"><%=@pump.remark %></span></td>
    </tr>
    <tr>
      <td>厂商</td>
      <td><span class="text-error"><%=@pump.manufacture %></span></td>
      <td>厂商联系方式</td>
      <td><span class="text-error"><%=@pump.manufactureContact %></span></td>
    </tr>
    <tr>
      <td>图片</td>
      <td colspan="3">
            <div class="thumbnail">
              <img data-src="holder.js/260x180" alt="钻塔图片" src="<%= @pump.attachment.data.url %>"/>
            </div>
     </td>
    </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </div>
  </div>

<div class="form-actions">
  <%= link_to "返回" , {:controller=>"equipment", :action=>"index"} , :class=>"btn" %>
</div>
