<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"泥浆泵入库单详情") %>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>项目名称</th>
      <th>内容</th>
    </tr>
    <tr>
      <td>泥浆泵设备编号</td>
      <td><%=@pump.devicenumber %></td>
    </tr>
    <tr>
      <td>泥浆泵型号</td>
      <td><%=@pump.pumpmodel %></td>
    </tr>
    <tr>
      <td>泥浆泵功率</td>
      <td><%=@pump.power %></td>
    </tr>
    <tr>
      <td>泥浆泵压力</td>
      <td><%=@pump.pressure %></td>
    </tr>
    <tr>
      <td>泥浆泵缸径</td>
      <td><%=@pump.pumpDiameter %></td>
    </tr>
    <tr>
      <td>泥浆泵缸数</td>
      <td><%=@pump.pumplineNumber %></td>
    </tr>
    <tr>
      <td>冲程</td>
      <td><%=@pump.stroke %></td>
    </tr>
    <tr>
      <td>冲次</td>
      <td><%=@pump.strokeTimes %></td>
    </tr>
    <tr>
      <td>流量</td>
      <td><%=@pump.traffic %></td>
    </tr>
    <tr>
      <td>重量</td>
      <td><%=@pump.weight %></td>
    </tr>
    <tr>
      <td>外观尺寸</td>
      <td><%=@pump.overallsize %></td>
    </tr>
    <tr>
      <td>厂商</td>
      <td><%=@pump.manufacture %></td>
    </tr>
    <tr>
      <td>厂商联系方式</td>
      <td><%=@pump.manufactureContact %></td>
    </tr>
    <tr>
      <td>图片</td>
      <td>
            <div class="thumbnail">
              <img data-src="holder.js/260x180" alt="钻塔图片" src="<%=pump_download_path + "?id=" + @pump.attachment.id.to_s %>"/>
            </div>
     </td>
    </tr>
    <tr>
      <td>备注</td>
      <td><%=@pump.remark %></td>
    </tr>
  </table>
</div>
<div class="form-actions">
  <%= link_to "返回" , {:controller=>"equipment", :action=>"index"} , :class=>"btn" %>
</div>
