# encoding: utf-8
<div id="sidebar">
<div id="sidebar-shortcuts">
  <div id="sidebar-shortcuts-large">
    <%= link_to raw('<i class="icon-home"></i>'), contracts_path, :class=>"btn btn-small btn-success" %>
    <%= link_to raw('<i class="icon-cog"></i>'), holes_path, :class=>"btn btn-small btn-info" %>
    <%= link_to raw('<i class="icon-group"></i>'), equipment_index_path, :class=>"btn btn-small btn-warning" %>
    <%= link_to raw('<i class="icon-cogs"></i>'), materials_path , :class=>"btn btn-small btn-danger" %>
  </div>

  <div id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div><!--#sidebar-shortcuts-->

<ul class="nav nav-list">

  <%= content_tag :li, :class => "#{active_menu?(current_page?(new_contract_path) || current_page?(contracts_path) || current_page?(contracts_indexforclose_path))}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-desktop"></i>
      <span>合同管理</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li <%= active_page?(new_contract_path) %>>
          <%= link_to (raw('<i class="icon-double-angle-right"></i>新增合同')), new_contract_path %>
      </li>

      <li <%= active_page?(contracts_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>合同列表')), contracts_path %>
      </li>

      <li <%= active_page?(contracts_indexforclose_path) %>>
          <%= link_to (raw('<i class="icon-double-angle-right"></i>合同完成')), contracts_indexforclose_path %>
      </li>
    </ul>
  <% end %>

  <li <%= active_page?(nil) %>>
    <%= link_to (raw('<i class="icon-list"></i><span>设计管理</span>')), nil %>
  </li>


  <%= content_tag :li, :class => "#{active_menu?(current_page?(new_hole_path) || current_page?(holelist_index_path) || current_page?(holes_path) ||current_page?(holes_close_path)|| current_page?(tourreports_indexformodify_path) || current_page?(:controller=>"tourreports",:action=>"edit",:id=>params[:id] || 0) || current_page?(tourreports_path) || current_page?(:controller=>"tourreports",:action=>"show",:id=>params[:id] || 0) || current_page?(holes_list_path) || current_page?(holes_tourreports_path) || current_page?(:controller=>"holes",:action=>"show" ,:id=>params[:id] || 0) ||current_page?(new_tourreport_path) || current_page?(holelist_deployment_path) || current_page?(holes_tourreportsmodify_path))}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-edit"></i>
      <span>钻孔管理</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li <%= active_page?(new_hole_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>新增钻孔')), new_hole_path %>
      </li>

      <li <%= active_page?(holelist_index_path) %><%= active_page?(holelist_deployment_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>钻孔配备')), holelist_index_path %>
      </li>

      <li <%= active_page?(holes_path) %><%=active_page?(:controller=>"holes",:action=>"show" ,:id=>params[:id] || 0)%> <%=active_page?(holes_close_path)%> >
        <%= link_to (raw('<i class="icon-double-angle-right"></i>钻孔查询')), holes_path %>
      </li>

      <li <%= active_page?(holes_list_path) %> <%=active_page?(new_tourreport_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>班报填写')), holes_list_path %>
      </li>

      <li <%= active_page?(holes_tourreportsmodify_path) %> <%=active_page?(tourreports_indexformodify_path)%> <%=active_page?(:controller=>"tourreports",:action=>"edit",:id=>params[:id] || 0)%>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>班报修改')), holes_tourreportsmodify_path %>
      </li>

      <li <%= active_page?(holes_tourreports_path) %> <%=active_page?(tourreports_path)%> <%=active_page?(:controller=>"tourreports",:action=>"show",:id=>params[:id] || 0 )%>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>班报查询')), holes_tourreports_path %>
      </li>

    </ul>
  <% end %>




  <%= content_tag :li, :class => "#{active_menu?(current_page?(equipment_index_path) || current_page?(equipment_stockin_path) ||  current_page?(equipment_discard_path) || current_page?(rigmachine_new_path) || current_page?(drilltower_new_path) || current_page?(pump_new_path) || current_page?(equipment_group_path) )}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-bell"></i>
      <span>设备管理</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li <%= active_page?(equipment_index_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>设备库存')), equipment_index_path %>
      </li>

      <li <%= active_page?(equipment_stockin_path) %> <%=active_page?(rigmachine_new_path)%> <%=active_page?(drilltower_new_path)%> <%=active_page?(pump_new_path)%>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>设备入库')), equipment_stockin_path %>
      </li>

      <li <%= active_page?(equipment_discard_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>设备处理')), equipment_discard_path %>
      </li>
      
      <li <%= active_page?(equipment_group_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>设备编组')), equipment_group_path %>
      </li>

    </ul>
  <% end %>


  <%= content_tag :li, :class => "#{active_menu?(current_page?(materials_path) || current_page?(new_material_path) || current_page?(materials_stockout_path) )}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-picture"></i>
      <span>材料管理</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li <%= active_page?(materials_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>材料库存')), materials_path %>
      </li>

      <li <%= active_page?(new_material_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>材料入库')), new_material_path %>
      </li>

      <li <%= active_page?(materials_stockout_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>材料消耗')), materials_stockout_path %>
      </li>

    </ul>
  <% end %>

  <%= content_tag :li, :class => "#{active_menu?(current_page?(contracts_chart_path) || current_page?(tourreports_holesreport_path) )}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-dashboard"></i>
      <span>统计分析</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li <%= active_page?(contracts_chart_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>合同统计')), contracts_chart_path %>
      </li>

      <li <%= active_page?(tourreports_holesreport_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>钻孔统计')), tourreports_holesreport_path %>
      </li>

      <li <%= active_page?(nil) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>工作效率')), nil %>
      </li>

    </ul>
  <% end %>

  
  <%= content_tag :li, :class => "#{active_menu?(current_page?(archive_contract_path) || current_page?(archive_hole_path) || current_page?(archive_tourreport_path))}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-tasks"></i>
      <span>档案管理</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
      <li <%= active_page?(archive_contract_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>合同档案')), archive_contract_path %>
      </li>

      <li <%= active_page?(archive_hole_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>钻孔档案')), archive_hole_path %>
      </li>

    </ul>
  <% end %>


  <%= content_tag :li, :class => "#{active_menu?(current_page?(users_main_path) || current_page?(department_tree_path) || current_page?(roles_path) || current_page?(dictionary_index_path) || current_page?(useroperation_index_path) || current_page?(groups_main_path))}" do %>
    <a href="#" class="dropdown-toggle">
      <i class="icon-cog"></i>
      <span>系统管理</span>

      <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">

      <% if can? :department_read, Department %>
      <li <%= active_page?(department_tree_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>' + t('headers.system.department.manage'))), department_tree_path %>
      </li>
      <% end %>

      <% if can? :read, User %>
      <li <%= active_page?(users_main_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>' + t("headers.system.people.manage") )), users_main_path %>
      </li>
      <% end %>

      <li <%= active_page?(groups_main_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>' + t('headers.system.group.index'))), groups_main_path %>
      </li>

      <% if can? :read, Role %>
      <li <%= active_page?(roles_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>' + t('headers.system.role.manage'))), roles_path %>
      </li>
      <% end %>

      <li <%= active_page?(dictionary_index_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>' + t('headers.system.dictionary.manage'))), dictionary_index_path %>
      </li>

      <% if can? :read, Useroperation %>
      <li <%= active_page?(useroperation_index_path) %>>
        <%= link_to (raw('<i class="icon-double-angle-right"></i>' + t('headers.system.useroperation.manage'))), useroperation_index_path %>
      </li>
      <% end %>
    </ul>
  <% end %>


</ul><!--/.nav-list-->

<div id="sidebar-collapse">
  <i class="icon-double-angle-left"></i>
</div>
</div>
