<%= form_for(:hole,:url=>holes_path(@hole) ,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @hole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

      <ul>
      <% @hole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label "矿区" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :minearea , :class=>"input-xxlarge" ,:placeholder=>""%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "孔号" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :holenumber , :class=>"text_field" , :placeholder=>"zk001" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "设计终孔深度" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.number_field :designdeep , :class=>"text_field" ,:placeholder=>"300" %><span class="add-on">米</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "设计终孔直径" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.select(:designdiameter,options_for_select(Hole::DIAMETERS), :class=>"text_field",:prompt=>"请选择...") %><span class="add-on">厘米</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "设计终孔顶角" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :designapexangle,:class=>"text_field" %><span class="add-on">度</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "设计岩心采取率" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :designcoreratio,:class=>"text_field" %><span class="add-on">%</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "开孔日期" ,:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :startdate , :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "终孔日期" ,:class=>"control-label"%>
    <div class="controls">
    <%= f.text_field :finishdate , :class=>"text_field"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "地层情况" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.text_area :geologysituation , :rows=>"4", :cols=>"3", :class=>"input-xxlarge"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "设计书" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.file_field :designbook , :rows=>"4", :cols=>"3", :class=>"text_field"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "钻探目的" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.select :drillingpurpose , options_for_select(Hole::DRILLINGPURPOSE), :class=>"text_field"%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "新增钻孔" ,:class=>"btn btn-primary" %> |
    <%= link_back :class=>'btn' %>
  </div>
<% end %>
<%= make_datepicker(:model=>"hole",:property=>"startdate") %>
<%= make_datepicker(:model=>"hole",:property=>"finishdate") %>
