<%= form_for @hole,:url=>{:control=>"holes",:action=>"create"},:html=>{:class=>"form-horizontal"} do |f| %>
  <% if @hole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

      <ul>
      <% @hole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "孔深度" ,:class=>"control-label" %>
    <div class="controls">
    <%= f.number_field :deep , :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "孔径" ,:class=>"control-label" %>
    <div class="controls">
    <%= f.number_field :diameter , :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "开始日期" ,:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :startdate , :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "结束日期" ,:class=>"control-label"%>
    <div class="controls">
    <%= f.text_field :finishdate , :class=>"text_field"%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "新增钻孔" ,:class=>"btn btn-primary" %> |
    <%= link_back :class=>'btn' %>
  </div>
<% end %>
<%= make_datepicker(:model=>"hole",:property=>"startdate") %>
<%= make_datepicker(:model=>"hole",:property=>"finishdate") %>
