<% content_for(:page_header_description, "录入钻孔的基本信息") %>
<%= form_for(@hole ,:html=>{:multipart=>true,:class=>"form-horizontal",:id=>"formservice"}) do |f| %>
  <% if @hole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

      <ul>
      <% @hole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
  <div class="span12">
  <div class="control-group">
    <%= f.label "钻孔编号" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :holenumber , :class=>"input-xxlarge" %>
    </div>
  </div>
  </div>
  </div>

  <div class="row-fluid">
  <div class="span12">
  <div class="control-group">
    <%= f.label "所属合同" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.select(:contract_id, options_for_select(@contracts.collect{|contract|["["+contract.contractno+"] "+contract.name,contract.id]},:selected=>@hole.contract_id),{},{:class=>"input-xxlarge"}) %>
    </div>
  </div>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span12">
  <div class="control-group">
    <%= f.label "矿区名称" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :minearea , :class=>"input-xxlarge" %>
    </div>
  </div>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "设计孔深" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :designdeep , :class=>"text_field" ,:value=>"300" %><span class="add-on">米</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "设计直径" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.select(:designdiameter,options_for_select(Dictionary.diameters.collect{|d|[d.item,d.id]}),{:prompt=>"请选择..."} ,{:class=>"text_field"} ) %><span class="add-on">mm</span>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "设计顶角" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :designapexangle,:class=>"text_field", :value=>"0" %><span class="add-on">度</span>
      </div>
    </div>
  </div>
  </div>


  <div class="span5">
  <div class="control-group">
    <%= f.label "设计方位角" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :designpositionangle,:class=>"text_field", :value=>"0" %><span class="add-on">度</span>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="row-fluid">

  <div class="span5">
  <div class="control-group">
    <%= f.label "设计岩心采取率" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :designcoreratio,:class=>"text_field" , :value=>"75"%><span class="add-on">%</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "设计矿心采取率" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :designminecoreratio,:class=>"text_field" , :value=>"80"%><span class="add-on">%</span>
      </div>
    </div>
  </div>
  </div>

  </div>

  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "开钻日期" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :startdate , :class=>"text_field",:value=>Time.now.strftime("%Y-%m-%d")%><span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </div>
  </div>
</div>


  <div class="span5">
  <div class="control-group">
    <%= f.label "钻探目的" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.select :drillingpurpose , options_for_select(Dictionary.purpose.collect{|d| [d.item,d.id]}), :class=>"text_field"%>
    </div>
  </div>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "是否外协" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.check_box :outerflag  %>
      <span class="lbl">是否外协孔 </span>
    </div>
  </div>
</div>
</div>


  <div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "钻探施工设计书" ,:class=>"control-label" %>
    <div class="controls">
      <input type="file" id="hole_attachment_data" name="hole[attachment_attributes][data]">
      <% if @hole.attachment %>
        <span id="att_<%=@hole.attachment.id%>"><%=link_to @hole.attachment.data.url do %><%= @hole.attachment.data_origin_file_name %> <% end %><a href="#" onclick="deleteAttachment(<%=@hole.attachment.id%>)"><i class="icon-remove bigger"></i></a></span>
      <% end %>
    </div>
  </div>
  </div>
  </div>

  <div class="row-fluid">
  <div class="span12">
  <div class="control-group">
    <%= f.label "地层情况" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.text_area :geologysituation , :rows=>"6", :cols=>"3", :class=>"input-xxlarge"%>
    </div>
  </div>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit "新增钻孔" ,:class=>"btn btn-primary" %> 
    <%= link_back :class=>'btn' %>
  </div>
<% end %>

<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
  <%= stylesheet_link_tag "chosen" %>
  <%= stylesheet_link_tag 'datepicker' %>
<% end %>
<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-datepicker.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
  <%= javascript_include_tag 'date-time/daterangepicker.min' %>
  <%= javascript_include_tag 'bootstrap-colorpicker.min' %>
  <%= javascript_include_tag 'jquery.knob.min' %>
  <%= javascript_include_tag 'jquery.autosize-min' %>
  <%= javascript_include_tag 'jquery.inputlimiter.1.3.1.min' %>
  <%= javascript_include_tag 'jquery.maskedinput.min' %>
<% end %>
<%= content_for :inline_javascripts do %>
<%= make_datepicker("#hole_startdate") %>
<%= make_datepicker("#hole_finishdate") %>
<script type="text/javascript">

  $(function(){

  $('#hole_attachment_data').ace_file_input({
        no_file:'未选择文件 ...',
        btn_choose:'选择',
        btn_change:'重新选择',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
        });
  
  $("#formservice").validate({
    rules:{
    "hole[minearea]":{required:true},
    "hole[contract_id]":{required:true},
    "hole[holenumber]":{required:true}
    },
  messages:{
  "hole[minearea]":{required:"矿区不能为空"},
  "hole[contract_id]":{required:"必须选择合同名称"},
  "hole[holenumber]":{required:"孔号不能为空"}

    }
    
    });

  });

</script>
<% end %>
