<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"钻孔终孔操作") %>

<%= form_for(@hole,:html=>{:multipart=>true,:class=>"form-horizontal",:id=>"formservice"}) do |f| %>
  <div class="row-fluid">
    <div class="span10">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter">
            <i class="icon-star green"></i>
            钻孔终孔操作
          </h5>

          <div class="widget-toolbar">
            <a href="#" data-action="collapse">
              <i class="icon-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main no-padding">
          <table class="table table-hover table-bordered">
            <thead></thead>
            <tbody>
          <tr>
            <td width="20%"><strong>孔号</strong></td>
            <td width="25%"><span class="text-error"><%= @hole.holenumber %></span></td>
            <td width="15%"><strong>钻孔状态</strong></td>
            <td width="35%"><span class="text-error"><%= hole_status_treat(@hole.status) %></span></td>
          </tr>
          <tr>
            <td><strong>矿区</strong></td>
            <td><span class="text-error"><%= @hole.minearea %></span></td>
            <td width="15%"><strong>合同名称</strong></td>
            <td width="35%"><span class="text-error"><%= @hole.contract.name %></span></td>
          </tr>

          <tr>
            <td><strong>地层情况</strong></td>
            <td colspan="3"><span class="text-error"><%= @hole.geologysituation %></span></td>
          </tr>

          <tr>
            <td><strong>设计书附件</strong></td>
            <% if @hole.attachment %>
            <td colspan="3"><span class="text-error"><%=link_to @hole.attachment.data.url do %><%=@hole.attachment.data_origin_file_name%><%end %></span></td>
            <% end %>
          </tr>

          <tr>
            <td><strong>钻探目的</strong></td>
            <td><span class="text-error"><%= dictionary_treat @hole.drillingpurpose %></span></td>
          </tr>

          <tr>
            <td><strong>实际钻孔深度</strong></td>
            <td><span class="text-error"><%=f.text_field :actualdeep, :class=>"input-medium",:value=>@hole.actualdeep %></span></td>
            <td><strong>设计钻孔深度</strong></td>
            <td><span class="text-error"><%= @hole.designdeep %></span></td>
          </tr>

          <tr>
            <td><strong>实际钻孔直径</strong></td>
            <td><%=f.text_field :actualdiameter, :class=>"input-medium", :value=>@hole.designdiameter%></td>
            <td><strong>设计钻孔直径</strong></td>
            <td><span class="text-error"><%=dictionary_treat @hole.designdiameter %></span></td>
          </tr>

          <tr>
            <td><strong>实际终孔顶角</strong></td>
            <td><span class="text-error"><%=f.text_field :actualapexangle, :class=>"input-medium",:value=>@hole.designapexangle %></span></td>
            <td><strong>设计终孔顶角</strong></td>
            <td><span class="text-error"><%= @hole.designapexangle %></span></td>
          </tr>

          <tr>
            <td><strong>实际岩心采取率</strong></td>
            <td><span class="text-error"><%=f.text_field :actualcoreratio , :class=>"input-medium" , :value=>@hole.designcoreratio %></span></td>
            <td><strong>设计岩心采取率</strong></td>
            <td><span class="text-error"><%= @hole.designcoreratio %></span></td>
          </tr>
          <tr>
            <td><strong>终孔日期</strong></td>
            <td><span class="text-error"><%=f.text_field :finishdate , :class=>"input-medium" ,:value=>Time.now.strftime("%Y-%m-%d") %></span></td>
            <td><strong>开孔日期</strong></td>
            <td><span class="text-error"><%= @hole.startdate %></span></td>
          </tr>
          <tr>
            <td><strong>单价</strong></td>
            <td><span class="text-error"><%=f.text_field :unitprice , :class=>"input-medium" %></span></td>
            <td><strong>产值</strong></td>
            <td><span class="text-error"><%=f.text_field :output , :class=>"input-medium" %></span></td>
          </tr>
          <tr>
            <td><strong>钻孔开孔通知书</strong></td>
            <td ><input name="[opennotice][data]" type="file" id="_opennoticeatt"/></td>
            <td><strong>钻孔终孔通知书</strong></td>
            <td ><input name="[closenotice][data]" type="file" id="_closenoticeatt" /></td>
          </tr>
          <tr>
            <td><strong>钻孔弯曲度测量记录表</strong></td>
            <td ><input name="[curvetable][data]" type="file" id="_curvetableatt" /></td>
            <td><strong>钻具丈量及孔深误差记录表</strong></td>
            <td ><input name="[measuretable][data]" type="file" id="_measuretableatt" /></td>
          </tr>
          <tr>
            <td><strong>岩矿心移交验收单</strong></td>
            <td ><input name="[coretransferdoc][data]" type="file" id="_coretransferdoc" /></td>
            <td><strong>原始记录报表移交清单</strong></td>
            <td ><input name="[tourreporttransferdoc][data]" type="file" id="_tourreporttransferdoc" /></td>
          </tr>
          <tr>
            <td><strong>钻孔质量验收评定表</strong></td>
            <td><input name="[qualitychecktable][data]" type="file" id="_qualitychecktable" /></td>
            <td><strong>钻孔施工通知书</strong></td>
            <td><input name="[tourreporttable][data]" type="file" id="_tourreporttable" /></td>
          </tr>
          </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="form-actions">
	<input type="button" value="钻孔终孔" onclick="javascript:checksumbit();" />
</div>
<% end %>

<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
  <%= stylesheet_link_tag "chosen" %>
  <%= stylesheet_link_tag 'datepicker' %>
<% end %>

<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-datepicker.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
  <%= javascript_include_tag 'date-time/daterangepicker.min' %>
  <%= javascript_include_tag 'bootstrap-colorpicker.min' %>
  <%= javascript_include_tag 'jquery.knob.min' %>
  <%= javascript_include_tag 'jquery.autosize-min' %>
  <%= javascript_include_tag 'jquery.inputlimiter.1.3.1.min' %>
  <%= javascript_include_tag 'jquery.maskedinput.min' %>
<% end %>

<%= content_for :inline_javascripts do %>
<script type="text/javascript">
  $(function(){

  $('input[type="file"]').ace_file_input({
        no_file:'未选择文件 ...',
        btn_choose:'选择',
        btn_change:'重新选择',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
        });
  });

	function checksumbit()
	{
		var result = true;
		$("input[type='file']").each(function(){
				
      		if("<%= current_user.account %>"!="admin")
			if($(this).val()=="")
			{
				alert("请上传各类钻孔终孔的资料");	
				result=false;
				return false;
			}
		});

		if(result==true)
			$("#formservice").submit();
	}
</script>
<% end %>
