<div class="page-header">
<h3>钻孔信息</h3>
</div>

<table class="table table-striped">
  <tr>
    <th>矿区</th>
    <th>孔号</th>
    <th>深度</th>
    <th>孔径</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>操作</th>
  </tr>

<% @holes.each do |hole| %>
  <tr>
    <td><%= hole.minearea %></td>
    <td><%= hole.holenumber %></td>
    <td><%= hole.designdeep %></td>
    <td><%= hole.designdiameter %></td>
    <td><%= hole.startdate %></td>
    <td><%= hole.finishdate %></td>
    <td><%= link_to '详情' %>|
      <%= link_to '删除', :url=>{:controller=>"holes",:action=>"destroy",:id=>hole}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
