<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>钻孔管理<span class="divider">/</span></li>
    <li>钻孔查询</li>
  </ul>
  </h5>
</div>
<div class="container">
    <form class="form-inline">
      <%=label_tag "矿区：" , nil, :class=>"control-label" %> <%=text_field_tag :minearea,nil,:class=>"input-medium", :placeholder=>"" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=label_tag "孔号：", nil, :class=>"control-label" %><%=text_field_tag :holenumber,nil,:class=>"input-medium",:placeholder=>"zk001" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=label_tag "合同名称：" ,nil, :class=>"control-label"%>&nbsp;&nbsp;<%=text_field_tag :contract_name,nil,:class=>"input-medium",:placeholder=>"" %>
      <button type="submit" class="btn"><i class="icon-search"></i> 查询</button>
    </form>
</div>
<table class="table table-striped">
  <tr>
    <th>矿区</th>
    <th>孔号</th>
    <th>深度</th>
    <th>孔径</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>操作</th>
  </tr>

<% @holes.each do |hole| %>
  <tr>
    <td><%= hole.minearea %></td>
    <td><%= hole.holenumber %></td>
    <td><%= hole.designdeep %></td>
    <td><%= hole.designdiameter %></td>
    <td><%= hole.startdate %></td>
    <td><%= hole.finishdate %></td>
    <td><%= link_to '详情' %>|
      <%= link_to '删除', :url=>{:controller=>"holes",:action=>"destroy",:id=>hole}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
