<div class="page-header">
<h3>钻孔信息</h3>
</div>

<table class="table table-striped">
  <tr>
    <th>深度</th>
    <th>孔径</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>操作</th>
  </tr>

<% @holes.each do |hole| %>
  <tr>
    <td><%= hole.deep %></td>
    <td><%= hole.diameter %></td>
    <td><%= hole.startdate %></td>
    <td><%= hole.finishdate %></td>
    <td><%= link_to '详情', hole %>|
    <%= link_to '删除', hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新增钻孔', new_hole_path,:class=>"btn btn-primary" %>
<%=setActiveTab("_holes") %>
