<p id="notice"><%= notice %></p>
<div class="page-header">
  <h3>钻孔详情</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>钻孔深度:</strong></dt>
  <dd><%= @hole.deep %></dd>
  <dt><strong>钻孔孔径:</strong></dt>
  <dd><%= @hole.diameter %></dd>
  <dt><strong>开始日期:</strong></dt>
  <dd><%= @hole.startdate %></dd>
  <dt><strong>结束日期:</strong></dt>
  <dd><%= @hole.finishdate %></dd>
</dl>

<div class="form-actions">
  <%= link_to '编辑', edit_hole_path(@hole),:class=>"btn" %> |
  <%= link_to '返回', holes_path ,:class=>"btn btn-primary"%>
</div>
<%=setActiveTab("_holes") %>
