<% content_for(:title,"领导关注-已完成钻孔情况") %>
<% content_for(:page_header_description, "领导关注-已完成钻孔情况") %>

<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= stylesheet_link_tag 'chosen' %>
  <%= stylesheet_link_tag 'bootstrap-timepicker' %>
<% end %>
<table class="table table-striped table-bordered table-hover">
<thead>
  <tr>
    <th class="center">矿区和孔号</th>
    <th class="center">合同名称</th>
    <th class="center">甲方/业主</th>
    <th class="center">项目经理</th>
    <th class="center">机长</th>
    <th class="center">开钻日期</th>
    <th class="center">孔深</th>
    <th class="center">台月效率</th>
    <th class="center">工作状态</th>
  </tr>
</thead>
<tbody>
  <% @holes.each do |hole| %>
    <tr>
    <td class="center"><%=hole.minearea %> <%= hole.holenumber %></td>
      <td class="center"><%=hole.contract.name %></td>
      <td class="center"><%=hole.contract.owner %></td>
      <td class="center"><%= hole_projectmanager(hole.id) %></td>
      <td class="center"><%= hole_administrator(hole.id) %></td>
      <td class="center"><%= hole.startdate.strftime("%Y-%m-%d") %></td>
      <td class="center"><%= hole.actualdeep %></td>
      <td class="center"><%= %></td>
      <td class="center"><%= hole_status_treat(hole.status) %></td>
    </tr>
  <% end %>
</tbody>
  <%= will_paginate @holes %>
</table>

<% content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= javascript_include_tag 'jquery.dataTables.bootstrap' %>
<% end %>

<% content_for :inline_javascripts do %>
<script language="javascript">
  $(function(){

    });
  });

</script>
<% end %>
