<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :keeper %><br />
    <%= f.text_field :keeper %>
  </div>
  <div class="field">
    <%= f.label :borrower %><br />
    <%= f.text_field :borrower %>
  </div>
  <div class="field">
    <%= f.label :usage %><br />
    <%= f.number_field :usage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
