<%content_for(:title,"设备处理") %>
<% content_for(:page_header_description, "进行设备处理的界面") %>
<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= stylesheet_link_tag 'jquery.gritter.css' %>
<% end %>
<div class="tabbable">
  <ul class="nav nav-tabs" id="_tabs">
    <li class="active">
    <a href="#tab1" data-toggle="tab">
      <i class="pink icon-dashboard bigger-110"></i>
      钻机
    </a>
    </li>
    <li> 
    <a href="#tab2" data-toggle="tab">
      <i class="blue icon-user bigger-110"></i>
      钻塔
    </a>
    </li>
    <li> 
    <a href="#tab3" data-toggle="tab">
      <i class="icon-rocket"></i>
      泥浆泵
    </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table id="_rigmachine_table" class="table table-hover table-striped table-bordered ">
        <thead>
        <tr>
          <th>设备编号</th>
          <th>钻机型号</th>
          <th>钻机重量</th>
          <th>钻孔深度</th>
          <th>钻机功率</th>
          <th>转速</th>
          <th>钻孔直径</th>
          <th>厂商</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tab2">
      <table id="_drilltower_table" class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>设备编号</th>
          <th>型号</th>
          <th>有效载荷</th>
          <th>深度</th>
          <th>高度</th>
          <th>提升钻杆根数与长度</th>
          <th>滑车组数与减轻负荷倍数</th>
          <th>顶宽尺寸</th>
          <th>重量</th>
          <th>厂商</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tab3">
      <table id="_pump_table" class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>设备编号</th>
          <th>型号</th>
          <th>缸径</th>
          <th>缸数</th>
          <th>冲程</th>
          <th>冲次</th>
          <th>流量</th>
          <th>重量</th>
          <th>功率</th>
          <th>压力</th>
          <th>外观尺寸</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>

    </div>
  </div>
</div>
<div id="_discard_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>设备报废申请单</h5>
  </div>

  <div class="modal-body">
    <table class="table table-striped table-hover table-bordered">
    <tr>
    <td>处理日期</td>
    <td><input name="discarddate" id="_discarddate" class="input-large" value="<%=Time.now.strftime("%Y-%m-%d")%>"/></td>
    </tr>
    <tr>
    <td>处理类型</td>
    <td><%= select_tag("discardtype", options_for_select(Material::DISCARD_TYPE), {:class=>"input-large"}) %></td>
    </tr>
    <tr>
    <td>处理原因</td>
    <td><textarea name="discardreason" id="_discardreason" class="input-xlarge" rows="5"></textarea></td>
    </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">关闭</button>
    <a href="#" class="btn btn-primary" onclick="modal_close()" >确定</a>
  </div>
</div>
<br />
<% content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= javascript_include_tag 'jquery.dataTables.bootstrap' %>
<% end %>
<% content_for :inline_javascripts do %>
<script language="javascript">
  $(function(){

   var oTable1=$("#_rigmachine_table").dataTable({
     "aoColumns":[null,null,null,null,null,null,null,null,{"bSortable":false},{"bSortable":false}],
        "bServerSide":true,
        "bAutoWidth" : false,
        "sAjaxSource":"<%=rigmachine_discard_path(:format=>:json) %>",
        "oLanguage":{
        "sLengthMenu":"每页 _MENU_",
        "sZeroRecords":"对不起,没有数据",
        "sInfo":"显示 _START_ 到 _END_ ,总计_TOTAL_数据",
        "sInfoEmpty":"显示 0 到 0 , 总计0数据",
        "sSearch": "检索",
        "sProcessing": "系统正在处理...",
        "sInfoFiltered":"(过滤_MAX_数据)" },
        "sDom": "<'row-fluid'<'span6'l><'span6'<'dt-search'>>r>t<'row-fluid'<'span4'i><'span8'p>>"
    }
    );
        
   var oTable2=$("#_drilltower_table").dataTable({
     "aoColumns":[null,null,null,null,null,null,null,null,null,null,{"bSortable":false},{"bSortable":false}],
        "bServerSide":true,
        "bAutoWidth" : false,
        "sAjaxSource":"<%=drilltower_discard_path(:format=>:json) %>",
        "oLanguage":{
        "sLengthMenu":"每页 _MENU_",
        "sZeroRecords":"对不起,没有数据",
        "sInfo":"显示 _START_ 到 _END_ ,总计_TOTAL_数据",
        "sInfoEmpty":"显示 0 到 0 , 总计0数据",
        "sSearch": "检索",
        "sProcessing": "系统正在处理...",
        "sInfoFiltered":"(过滤_MAX_数据)" },
        "sDom": "<'row-fluid'<'span6'l><'span6'<'dt-search'>>r>t<'row-fluid'<'span4'i><'span8'p>>"
        }
     );

   var oTable3=$("#_pump_table").dataTable({
        "aoColumns":[null,null,null,null,null,null,null,null,null,null,null,{"bSortable":false},{"bSortable":false}],
        "bServerSide":true,
        "bAutoWidth" : false,
        "sAjaxSource":"<%=pump_discard_path(:format=>:json) %>",
        "oLanguage":{
        "sLengthMenu":"每页 _MENU_",
        "sZeroRecords":"对不起,没有数据",
        "sInfo":"显示 _START_ 到 _END_ ,总计_TOTAL_数据",
        "sInfoEmpty":"显示 0 到 0 , 总计0数据",
        "sSearch": "检索",
        "sProcessing": "系统正在处理...",
        "sInfoFiltered":"(过滤_MAX_数据)" },
        "sDom": "<'row-fluid'<'span6'l><'span6'<'dt-search'>>r>t<'row-fluid'<'span4'i><'span8'p>>"
        }
     );

  })

  function rigmachine_resume(devicenumber)
  {
    window.location.href="<%=rigmachine_resume_path %>?devicenumber="+devicenumber
  }

  function drilltower_resume(devicenumber)
  {
    window.location.href="<%=drilltower_resume_path %>?devicenumber="+devicenumber
  }

  function pump_resume(devicenumber)
  {
    window.location.href="<%=pump_resume_path %>?devicenumber="+devicenumber
  }

  var _id;
  var _type="";

  // 钻塔modal
  function drilltower_modal(id)
  {
    $("#_discard_modal").modal();
    _id = id;
    _type = "drilltower";
  }

  // drilltower ajax 提交
  function drilltower_post()
  {
    $.post("<%=drilltower_dismiss_path%>?id="+_id,
    {
      discarddate:$("#_discarddate").val(),
      discardtype:$("#discardtype").val(),
      discardreason:$("#_discardreason").val()
    },
    function(result){
      if(result=="true")
      {
        //alert("111111");
        $("#_drilltower_table").dataTable.fnDraw(false);
        $("#_drilltower_table").dataTable.fnReloadAjax();
        $("#_drilltower_table").dataTable.fnPageChange("first",1);
      }
    });
  }

  //rigmachine 的ajax 提交 
  function rigmachine_post()
  {
    $.post("<%=rigmachine_dismiss_path%>?id="+_id,
    {
      discarddate:$("#_discarddate").val(),
      discardtype:$("#discardtype").val(),
      discardreason:$("#_discardreason").val()
    },
    function(result){
      if(result=="true")
      {
        $("#_rigmachine_table").dataTable.fnDraw();
        $("#_rigmachine_table").dataTable.fnReloadAjax();
      }
    });
  }

  //pump 的ajax 提交 
  function pump_post()
  {
    $.post("<%=pump_dismiss_path%>?id="+_id,
    {
      discarddate:$("#_discarddate").val(),
      discardtype:$("#discardtype").val(),
      discardreason:$("#_discardreason").val()
    },
    function(result){
      if(result=="true")
      {
        $("#_pump_table").dataTable.fnDraw();
        $("#_pump_table").dataTable.fnReloadAjax();
        $
      }
    });
  }

  // 钻机modal
  function rigmachine_modal(id)
  {
    $("#_discard_modal").modal();
    _id = id;
    _type = "rigmachine";
  }
  // 泥浆泵modal
  function pump_modal(id)
  {
    $("#_discard_modal").modal();
    _id = id;
    _type = "pump";
  }

  //判断调用哪个ajax的方法
  function modal_close()
  {
    $("#_discard_modal").modal("hide");
    if(_type=="rigmachine")
    {
      rigmachine_post();
    }
    else if(_type=="drilltower")
    {
      drilltower_post();
    }
    else 
    {
      pump_post();
    }
  }
</script>
<% end %>
