<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>设备管理<span class="divider">/</span></li>
    <li>设备配组</li>
  </ul>
  </h5>
</div>
<div class="container-fluid">
      <table class="table table-striped table-hover">
        <tr>
          <th>钻机型号</th>
          <th>钻机重量</th>
          <th>钻孔深度</th>
          <th>钻机功率</th>
          <th>转速</th>
          <th>钻孔直径</th>
          <th>外观尺寸</th>
          <th>厂商</th>
          <th>钻塔</th>
          <th>泥浆泵</th>
        </tr>
        <% @rigmachine.each do |rig| %>
          <tr>
            <td> <%=rig.rigmodel %> </td>
            <td> <%=rig.rigweight %> </td>
            <td> <%=rig.righoleDeep %> </td>
            <td> <%=rig.rigPower %> </td>
            <td> <%=rig.rotatingSpeed %> </td>
            <td> <%=rig.pipeDiameter %> </td>
            <td> <%=rig.overallsize %> </td>
            <td> <%=rig.manufacture %> </td>
            <td> <%= drilltower_group(rig) %> </td>
            <td> <%= pump_group(rig) %> </td>
          </tr>
        <% end %>
      </table>
</div>
<div id="_drilltower_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>请选择配组的钻塔</h5>
  </div>
  <div class="modal-body">
      <table class="table table-striped table-hover">
        <tr>
          <th>选择</th>
          <th>型号</th>
          <th>有效载荷</th>
          <th>深度</th>
          <th>高度</th>
          <th>重量</th>
          <th>厂商</th>
        </tr>
        <% @drilltower.each do |tower| %>
          <tr>
            <td> <input type="radio"></td> 
            <td> <%= tower.model %> </td>
            <td> <%= tower.effectiveload %> </td>
            <td> <%= tower.deep %> </td>
            <td> <%= tower.height %> </td>
            <td> <%= tower.weight %> </td>
            <td> <%= tower.manufacture %> </td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">关闭</button>
    <a href="#" class="btn btn-primary">确定</a>
  </div>
</div>

<div id="_pump_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>请选择配组的泥浆泵</h5>
  </div>
  <div class="modal-body">
      <table class="table table-striped table-hover">
        <tr>
          <th>选择</th>
          <th>型号</th>
          <th>缸数</th>
          <th>冲程</th>
          <th>冲次</th>
          <th>流量</th>
          <th>重量</th>
          <th>功率</th>
        </tr>
        <% @pump.each do |pump| %>
          <tr>
            <td><input type="radio"></td>
            <td> <%= pump.pumpmodel %>  </td>
            <td> <%= pump.pumplineNumber %>  </td>
            <td> <%= pump.stroke %>  </td>
            <td> <%= pump.traffic %>  </td>
            <td> <%= pump.weight %>  </td>
            <td> <%= pump.power %>  </td>
            <td> <%= pump.pressure %>  </td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">关闭</button>
    <a href="#" class="btn btn-primary">确定</a>
  </div>
</div>
<script language="javascript">
  function open_drilltower()
  {
    $("#_drilltower_modal").modal();
  }

  function open_pump()
  {
    $("#_pump_modal").modal();
  }
</script>
