<div class="page-header">
  <h3>设备管理/库存管理</h3>
</div>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">钻塔</a></li>
    <li> <a href="#tab2" data-toggle="tab">钻机</a></li>
    <li> <a href="#tab3" data-toggle="tab">泥浆泵</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table table-stripped">
        <tr>
          <th>型号</th>
          <th>有效载荷</th>
          <th>深度</th>
          <th>高度</th>
          <th>提升钻杆根数与长度</th>
          <th>滑车组数与减轻负荷倍数</th>
          <th>顶宽尺寸</th>
          <th>重量</th>
          <th>厂商<th>
        </tr>
        <% @drilltower.each do |tower| %>
          <tr>
            <td> <%= tower.model %> </td>
            <td> <%= tower.effectiveload %> </td>
            <td> <%= tower.deep %> </td>
            <td> <%= tower.height %> </td>
            <td> <%= tower.pipequantityAndlength %> </td>
            <td> <%= tower.sheaveQuantity %> </td>
            <td> <%= tower.topsize %> </td>
            <td> <%= tower.weight %> </td>
            <td> <%= tower.manufacture %> </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab-pane" id="tab2">
      <table class="table table-stripped">
        <tr>
          <th>钻机型号</th>
          <th>钻机重量</th>
          <th>钻孔深度</th>
          <th>钻机功率</th>
          <th>转速</th>
          <th>钻孔直径</th>
          <th>外观尺寸</th>
          <th>厂商</th>
        </tr>
        <% @rigmachine.each do |rig| %>
          <tr>
            <td> <%=rig.rigmodel %> </td>
            <td> <%=rig.rigweight %> </td>
            <td> <%=rig.righoleDeep %> </td>
            <td> <%=rig.rigpower %> </td>
            <td> <%=rig.rotatingSpeed %> </td>
            <td> <%=rig.pipeDiameter %> </td>
            <td> <%=rig.overallsize %> </td>
            <td> <%=rig.manufacture %> </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab-pane" id="tab3">
      <table class="table table-stripped">
        <tr>
          <th>型号</th>
          <th>缸径</th>
          <th>缸数</th>
          <th>冲程</th>
          <th>冲次</th>
          <th>流量</th>
          <th>重量</th>
          <th>功率</th>
          <th>压力</th>
          <th>外观尺寸</th>
        </tr>
        <% @pump.each do |pump| %>
          <tr>
            <td> <%= pump.pumpmodel %>  </td>
            <td> <%= pump.pumpDiameter %>  </td>
            <td> <%= pump.pumplineNumber %>  </td>
            <td> <%= pump.stroke %>  </td>
            <td> <%= pump.traffic %>  </td>
            <td> <%= pump.weight %>  </td>
            <td> <%= pump.power %>  </td>
            <td> <%= pump.pressure %>  </td>
            <td> <%= pump.overallsize %>  </td>
            <td> <%= pump.pressure %>  </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<br />

<%= link_to '新增设备', new_equipment_path ,:class=>"btn btn-primary" %>
