<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Category:</b>
  <%= @equipment.category %>
</p>

<p>
  <b>Quantity:</b>
  <%= @equipment.quantity %>
</p>

<p>
  <b>Keeper:</b>
  <%= @equipment.keeper %>
</p>

<p>
  <b>Borrower:</b>
  <%= @equipment.borrower %>
</p>

<p>
  <b>Usage:</b>
  <%= @equipment.usage %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
