<p id="notice"><%= notice %></p>
<div class="page-header">
  <h3>设备详情</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>设备名称:</strong></dt>
  <dd><%= @equipment.name %></dd>
  <dt><strong>设备分类:</strong></dt>
  <dd><%= @equipment.category %></dd>
  <dt><strong>设备数量:</strong></dt>
  <dd><%= @equipment.quantity %></dd>
  <dt><strong>保管人:</strong></dt>
  <dd><%= @equipment.keeper %></dd>
  <dt><strong>借用人:</strong></dt>
  <dd><%= @equipment.borrower %></dd>
  <dt><strong>使用人:</strong></dt>
  <dd><%= @equipment.usage %></dd>
</dl>

<div class="form-actions">
  <%= link_to '编辑', edit_equipment_path(@equipment),:class=>"btn" %> |
  <%= link_to '返回', equipment_index_path ,:class=>"btn btn-primary" %>
</div>
<%= setActiveTab("_equipments") %>
