<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>设备管理<span class="divider">/</span></li>
    <li>设备出库</li>
  </ul>
  </h5>
</div>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">钻机</a></li>
    <li> <a href="#tab2" data-toggle="tab">钻塔</a></li>
    <li> <a href="#tab3" data-toggle="tab">泥浆泵</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>钻机型号</th>
          <th>钻机重量</th>
          <th>钻孔深度</th>
          <th>钻机功率</th>
          <th>转速</th>
          <th>钻孔直径</th>
          <th>外观尺寸</th>
          <th>厂商</th>
          <th>操作</th>
        </tr>
        <% @rigmachine.each do |rig| %>
          <tr>
            <td> <%=rig.rigmodel %> </td>
            <td> <%=rig.rigweight %> </td>
            <td> <%=rig.righoleDeep %> </td>
            <td> <%=rig.rigPower %> </td>
            <td> <%=rig.rotatingSpeed %> </td>
            <td> <%=rig.pipeDiameter %> </td>
            <td> <%=rig.overallsize %> </td>
            <td> <%=rig.manufacture %> </td>
            <td><button class="btn btn-small btn-warning" data-toggle="modal" data-target="#_holes_modal">出库</button></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab-pane" id="tab2">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>型号</th>
          <th>有效载荷</th>
          <th>深度</th>
          <th>高度</th>
          <th>提升钻杆根数与长度</th>
          <th>滑车组数与减轻负荷倍数</th>
          <th>顶宽尺寸</th>
          <th>重量</th>
          <th>厂商</th>
          <th>操作</th>
        </tr>
        <% @drilltower.each do |tower| %>
          <tr>
            <td> <%= tower.model %> </td>
            <td> <%= tower.effectiveload %> </td>
            <td> <%= tower.deep %> </td>
            <td> <%= tower.height %> </td>
            <td> <%= tower.pipequantityAndLenght %> </td>
            <td> <%= tower.sheaveQuantity %> </td>
            <td> <%= tower.topsize %> </td>
            <td> <%= tower.weight %> </td>
            <td> <%= tower.manufacture %> </td>
            <td><button class="btn btn-small btn-warning" data-toggle="modal" data-target="#_holes_modal">出库</button></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab-pane" id="tab3">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>型号</th>
          <th>缸径</th>
          <th>缸数</th>
          <th>冲程</th>
          <th>冲次</th>
          <th>流量</th>
          <th>重量</th>
          <th>功率</th>
          <th>压力</th>
          <th>外观尺寸</th>
          <th>操作</th>
        </tr>
        <% @pump.each do |pump| %>
          <tr>
            <td> <%= pump.pumpmodel %>  </td>
            <td> <%= pump.pumpDiameter %>  </td>
            <td> <%= pump.pumplineNumber %>  </td>
            <td> <%= pump.stroke %>  </td>
            <td> <%= pump.traffic %>  </td>
            <td> <%= pump.weight %>  </td>
            <td> <%= pump.power %>  </td>
            <td> <%= pump.pressure %>  </td>
            <td> <%= pump.overallsize %>  </td>
            <td> <%= pump.pressure %>  </td>
            <td><button class="btn btn-small btn-warning" data-toggle="modal" data-target="#_holes_modal">出库</button></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<%= form_for(@deviceresume,:url=>equipment_resume_path,:html=>{:class=>"form-horizontal"}) do |f| %>
<div id="_holes_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>设备出库单详情</h5>
  </div>
  <div class="modal-body">
<table class="table table-striped table-hover table-bordered">
  <tr>
    <td>出库日期</td>
    <td><%=f.text_field :operatedate, :class=>"text_field"  %></td>
  </tr>
  <tr>
    <td>出库说明</td>
    <td><%=f.text_field :remark, :class=>"input-xlarge" %></td>
  </tr>
  <tr>
    <td>配置钻孔</td>
    <td>
      <select class="span4" multiple="multiple" rows="6">
        <% @holes.each do |hole| %>
          <option value="<%= hole.id %>"><%= hole.minearea %>, <%= hole.holenumber %></option>
        <% end %>
      </select> 
    </td>
  </tr>
  <tr>
    <td>设备领用人</td>
    <td><%=f.text_field :operator, :class=>"input-large" %></td>
  </tr>
</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">关闭</button>
    <%= f.submit "确定" , :class=>"btn btn-primary" %>
  </div>
</div>
<% end %>
<%= make_datepicker("#deviceresume_operatedate") %>
<script language="javascript">
</script>
