<% provide(:title, '系统管理') %>
<% provide(:page_header_description, '人员管理') %>

<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'dhtmlxtree' %>
  <%= stylesheet_link_tag 'dhtmlxmenu_dhx_skyblue' %>
<% end %>

<%= content_for :inline_stylesheets do %>
  <%# --------------------None-------------------- %>
<% end %>

<% javascript "dhtmlxcommon" %>
<% javascript "dhtmlxtree" %>
<% javascript "dhtmlxtree_json" %>
<% javascript "dhtmlxmenu" %>
<% javascript "dhtmlxmenu_ext" %>
<%= content_for :inline_javascripts do %>
  <%= user_dynatree(:tree_id => "dynatree") %>
<% end %>

<%# Page Content - Start %>
<div class="row-fluid">
  <div class="span3">
    <!-- Sidebar content -->
    <div id="dynatree" style="overflow:auto;"></div>
  </div>
  <div class="span9">
    <!-- Body content -->
    <iframe id="_iframe" src="<%= department_users_path(@department) %>" width="100%" height="700px" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
<%# Page Content - End %>


