<%= render partial: "layouts/flash_messages", flash: flash %>

<div class="profile-user-info profile-user-info-striped">
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("name") %></div>
    <div class="profile-info-value"><span><%= @user.name %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("sex") %></div>
    <div class="profile-info-value"><span><%= @user.sex %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("birthday") %></div>
    <div class="profile-info-value"><span><%= @user.birthday %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("duty") %></div>
    <div class="profile-info-value"><span><%= @user.duty %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("education") %></div>
    <div class="profile-info-value"><span><%= @user.education %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("mobile") %></div>
    <div class="profile-info-value"><span><%= @user.mobile %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("officephone") %></div>
    <div class="profile-info-value"><span><%= @user.officephone %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("email") %></div>
    <div class="profile-info-value"><span><%= @user.email %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("isappuser") %></div>
    <div class="profile-info-value"><span><%= is_appuser @user %></span></div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"><%= User.human_attribute_name("department") %></div>
    <div class="profile-info-value"><span><%= @user.department.name %></span></div>
  </div>
</div>

<div class="form-actions">
<% if can? :modify, @user %>
  <%= link_to t('labels.edit'), edit_department_user_path(@department,@user), :class => "btn" %>
<% end %>
<%= link_to t('labels.back'), department_users_path(@department), :class=>"btn btn-primary" %>
</div>
