<% provide(:title, '系统管理') %>
<% provide(:page_header_description, '部门管理') %>

<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'dhtmlxtree' %>
  <%= stylesheet_link_tag 'dhtmlxmenu_dhx_skyblue' %>
<% end %>

<%= content_for :inline_stylesheets do %>
  <%# --------------------None-------------------- %>
<% end %>

<% content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'dhtmlxcommon' %>
  <%= javascript_include_tag 'dhtmlxtree' %>
  <%= javascript_include_tag 'dhtmlxtree_json' %>
  <%= javascript_include_tag 'dhtmlxmenu' %>
  <%= javascript_include_tag 'dhtmlxmenu_ext' %>
<% end %>

<%= content_for :inline_javascripts do %>
  <%= dhtmlxtree_dynatree(:tree_id => "dynatree") %>
  <%= init_modal %>
  <%= hide_modal %>
<% end %>

<%= render 'form_modal' %>
<%= render 'form_modal_delete' %>

<div class="row-fluid">
  <div class="span3">
    <!-- Sidebar content -->
    <div id="dynatree" style="overflow:auto!important;width:100%;height:100%;"></div>
  </div>
  <div class="span9">
    <!-- Body content -->
    <iframe id="_iframe" width="100%" height="100%" frameborder="0"></iframe>
  </div>
</div>

<%= content_for :inline_javascripts do %>
<script type="text/javascript">
  <!--
  $(function(){
    // 注意:添加onload事件应该在设置src之前,不然命中了浏览器的缓存的话,onload可能来不及触发
    $("#_iframe").load(function(){
      autoResize('_iframe');
    });
    $("#_iframe").attr("src", "<%= department_path(@department) %>");
  });
  function autoResize(id) {
    var newheight;
    var newwidth;

    if(document.getElementById) {
      newheight=document.getElementById(id).contentWindow.document.body.scrollHeight;
      newwidth=document.getElementById(id).contentWindow.document.body.scrollWidth;
    }

    document.getElementById(id).height=(newheight) + "px";
    document.getElementById(id).width=(newwidth) + "px";
  }

  //-->
</script>
<% end %>
