<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>系统管理<span class="divider">/</span></li>
    <li>字典列表</li>
  </ul>
  </h5>
</div>
<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>字典类型</th>
      <th>字典项目</th>
      <th>顺序号</th>
      <th>是否可用</th>
    </tr>
    <% @dictionary.each do |dic| %>
    <tr>
      <td><%= dic.dictype %></td>
      <td><%= dic.item %></td>
      <td><%= dic.priority %></td>
      <td><%= dic.delflag %></td>
    </tr>
  <% end %>
  </table>
</div>
<%= link_to "新增字典项" , dictionary_new_path , :class=>"btn btn-primary" %>
