<%content_for(:title,"字典列表") %>
<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>字典项目</th>
      <th>字典类型</th>
      <th>顺序号</th>
      <th>是否可用</th>
    </tr>
  </thead>
  <tbody>
    <% @dictionary.each do |dic| %>
    <tr>
      <td><%= dic.item %></td>
      <td><%= dic.dictype %></td>
      <td><%= dic.priority %></td>
      <td><%= dictionary_delflag(dic.delflag) %></td>
    </tr>
  <% end %>
</tbody>
  </table>
</div>
<%= link_to "新增字典项" , dictionary_new_path , :class=>"btn btn-primary" %>
