<% content_for(:title,"字典详情") %>
<div class="container">
  <div class="span9">
    <h4>字典详情</h4>
  <table class="table table-hover">
    <tr>
      <th>项目名称</th>
      <th>值</th>
    </tr>
    <tr>
      <td>字典类型</td>
      <td><%= @dictionary.dictype%> </td>
    </tr>
    <tr>
      <td>字典条目</td>
      <td><%= @dictionary.item %></td> 
    </tr>
    <tr>
      <td> 字典顺序</td>
      <td> <%= @dictionary.priority %></td>
    </tr>
    <tr>
      <td>备注</td>
      <td><%= @dictionary.remark %></td>
    </tr>
  </table>
</div>
</div>
<div class="form-actions">
<%= link_back :class=>'btn btn-info'%>
</div>
