<%= render "header" %>

<%= form_for(@role, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= Permission.human_attribute_name("subject_class") %></th>
        <th><%= Permission.human_attribute_name("action") %> <%= check_box_tag 'main', 0, false %></th>
      </tr>
    </thead>
    <tbody>
      <% @permissions_array.each do |permissions_hash| %>
      <tr>
        <% permissions_hash.each do |key, value| %>
        <td><%= key %></td>
        <td>
          <% value.each do |permission| %>
              <%= check_box_tag "role[permission_ids][]", permission.id, false, :id=>"permission_ids_#{permission.id}" %><span class="lbl"></span> <%= permission.name %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <%= f.submit t('labels.save'), :class => "btn btn-primary" %>
    <%= link_back :class => "btn" %>
  </div>
<% end %>

