<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"钻机入库单详情") %>

  <div class="row-fluid">
    <div class="span10">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter">
            <i class="icon-star green"></i>
            钻机入库单详情
          </h5>

          <div class="widget-toolbar">
            <a href="#" data-action="collapse">
              <i class="icon-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main no-padding">
      <table class="table table-hover table-bordered">
        <thead>
        </thead>
        <tbody>
    <tr>
      <td width="15%">设备编号</td>
      <td width="25%"><span class="text-error"><%= @rigmachine.devicenumber%></span></td>
      <td width="15%">钻机型号</td>
      <td width="35%"><span class="text-error"><%= @rigmachine.rigmodel%></span></td>
    </tr>
    <tr>
      <td>通孔直径</td>
      <td><span class="text-error"><%= @rigmachine.pipeDiameter %>mm</span></td>
      <td>钻机功率</td>
      <td><span class="text-error"><%= @rigmachine.rigPower %>kW</span></td>
    </tr>
    <tr>
      <td>钻进能力</td>
      <td><span class="text-error"><%= @rigmachine.righoleDeep %>m</span></td>
      <td>钻机重量</td>
      <td><span class="text-error"><%= @rigmachine.rigweight %>kg</span></td>
    </tr>
    <tr>
      <td>最小转速</td>
      <td><span class="text-error"><%= @rigmachine.rotatingSpeed %>r/min</span></td>
      <td>最大转速</td>
      <td><span class="text-error"><%= @rigmachine.maxrotatespeed %>r/min</span></td>
    </tr>
    <tr>
      <td>单位编码</td>
      <td><span class="text-error"><%= @rigmachine.officialcode %></span></td>
      <td>外观尺寸</td>
      <td><span class="text-error"><%= @rigmachine.overallsize %>(长(mm)×宽(mm)×高(mm))</span></td>
    </tr>
    <tr>
      <td>厂商</td>
      <td><span class="text-error"><%= @rigmachine.manufacture %></span></td>
      <td>厂商联系方式</td>
      <td><span class="text-error"><%= @rigmachine.manufactureContact %></span></td>
    </tr>
    <tr>
      <td>备注</td>
      <td colspan="3"><%= @rigmachine.remark %></td>
    </tr>
    <tr>
      <td>图片</td>
      <td colspan="3">
        <ul class="thumbnails">
          <li class="span2">
          <% if @rigmachine.attachment %>
            <div class="thumbnail">
              <img data-src="holder.js/260xf80" alt="钻塔图片" src="<%=@rigmachine.attachment.data.url  %>"/>
            </div>
          <% end %>
         </li>
       </ul>
     </td>
    </tr>
  </table>

        </tbody>
      </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="form-actions">
  <%= link_to "返回" , {:controller=>"equipment", :action=>"index"} , :class=>"btn" %>
</div>
