<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"钻机入库单详情") %>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>项目名称</th>
      <th>内容</th>
    </tr>
    <tr>
      <td>设备编号</td>
      <td><%= @rigmachine.devicenumber%></td>
    </tr>
    <tr>
      <td>钻机型号</td>
      <td><%= @rigmachine.rigmodel%></td>
    </tr>
    <tr>
      <td>钻孔直径</td>
      <td><%= @rigmachine.pipeDiameter %></td>
    </tr>
    <tr>
      <td>钻机功率</td>
      <td><%= @rigmachine.rigPower %></td>
    </tr>
    <tr>
      <td>钻孔深度</td>
      <td><%= @rigmachine.righoleDeep %></td>
    </tr>
    <tr>
      <td>钻机重量</td>
      <td><%= @rigmachine.rigweight %></td>
    </tr>
    <tr>
      <td>转速</td>
      <td><%= @rigmachine.rotatingSpeed %></td>
    </tr>
    <tr>
      <td>外观尺寸</td>
      <td><%= @rigmachine.overallsize %></td>
    </tr>
    <tr>
      <td>厂商</td>
      <td><%= @rigmachine.manufacture %></td>
    </tr>
    <tr>
      <td>厂商联系方式</td>
      <td><%= @rigmachine.manufactureContact %></td>
    </tr>
    <tr>
      <td>备注</td>
      <td><%= @rigmachine.remark %></td>
    </tr>
    <tr>
      <td>图片</td>
      <td>
        <ul class="thumbnails">
          <li class="span2">
            <div class="thumbnail">
              <img data-src="holder.js/260x180" alt="钻塔图片" src="<%=rigmachine_download_path+ "?id=" +@rigmachine.attachment.id.to_s %>"/>
            </div>
         </li>
       </ul>
     </td>
    </tr>
  </table>
</div>
</div>
