<%= form_for(@material , :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "材料名称", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name , :class=>"input-xlarge", :placeholder=>"" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "材料型号", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :model , :class=>"input-xlarge", :placeholder=>"" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "材料单价", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :price , :class=>"input-xlarge", :placeholder=>"" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "数量" , :class=>"control-label" %>
    <div class="controls">
      <%= f.number_field :count, :class=>"input-large", :placeholder=>"3" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "入库时间" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :stockdate, :class=>"input-large", :placeholder=>"" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "材料类型" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :materialtype, :class=>"input-large", :placeholder=>"" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "记录人" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :recorder,  :class=>"input-large", :placeholder=>"" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "备注" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :remark, :class=>"input-large", :placeholder=>"" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit  "保存", :class=>"btn btn-primary"%>
  </div>
<% end %>
