<% content_for(:title,"材料库存>材料查看") %>
<div class="container">
  <div class="span9">
    <h4>材料入库详情</h4>
  <table class="table table-hover">
    <tr>
      <th>项目名称</th>
      <th>值</th>
    </tr>
    <tr>
      <td>材料名称</td>
      <td><%=@material.name %></td>
    </tr>
    <tr>
      <td>材料型号</td>
      <td><%=@material.model %></td>
    </tr>
    <tr>
      <td>材料单价</td>
      <td><%=@material.price %></td>
    </tr>
    <tr>
      <td>材料类型</td>
      <td><%=@material.materialtype %></td>
    </tr>
    <tr>
      <td>材料数量</td>
      <td><%=@material.count %></td>
    </tr>
    <tr>
      <td>入库时间</td>
      <td><%=@material.stockdate %></td>
    </tr>
    <tr>
      <td>记录人</td>
      <td><%=@material.recorder %></td>
    </tr>
    <tr>
      <td>备注</td>
      <td><%=@material.remark %></td>
    </tr>
  </table>
  </div>
</div>
