<%= render partial: "layouts/flash_messages", flash: flash %>
<% content_for(:title,"材料库存>材料查看") %>
<div class="container">
  <div class="span9">
  <table class="table table-hover">
    <tr>
      <th>项目名称</th>
      <th>内容</th>
    </tr>
    <tr>
      <td>钻孔</td>
      <td><%="钻孔编号：" + @material.hole.holenumber + "，合同名称：" + @material.hole.contract.name %></td>
    </tr>
    <tr>
      <td>材料名称</td>
      <td><%=@material.name %></td>
    </tr>
    <tr>
      <td>材料型号</td>
      <td><%=@material.model %></td>
    </tr>
    <tr>
      <td>材料单价</td>
      <td><%=@material.price %></td>
    </tr>
    <tr>
      <td>材料数量</td>
      <td><%=@material.count %></td>
    </tr>
    <tr>
      <td>入库时间</td>
      <td><%=@material.stockdate %></td>
    </tr>
    <tr>
      <td>记录人</td>
      <td><%=@material.recorder %></td>
    </tr>
    <tr>
      <td>领用人</td>
      <td><%=@material.recipient %></td>
    </tr>
    <tr>
      <td>备注</td>
      <td><%=@material.remark %></td>
    </tr>
  </table>
  </div>
</div>
<div class="form-actions">
  <%= link_to materials_path,:class=>"btn btn-primary btn-small" do %><i class="icon-reply"></i>返回<% end %>
</div>
