<% content_for(:title,"材料消耗") %>
<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
  <%= stylesheet_link_tag "chosen" %>
  <%= stylesheet_link_tag 'datepicker' %>
<% end %>
<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-datepicker.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
  <%= javascript_include_tag 'date-time/daterangepicker.min' %>
  <%= javascript_include_tag 'bootstrap-colorpicker.min' %>
<% end %>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th width="20%">钻孔</th>
    <th width="20%">材料名称</th>
    <th width="10%">材料型号</th>
    <th width="10%">材料单价</th>
    <th width="10%">材料库存</th>
    <th width="20%">入库时间</th>
    <th width="20%">操作</th>
  </tr>
</thead>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.hole.holenumber if (material.hole && material.hole.holenumber) %></td>
    <td><%= material.name %></td>
    <td><%= material.model %></td>
    <td><%= material.price %></td>
    <td><span id="_<%=material.id%>"><%= material.count %></span></td>
    <td><%= material.stockdate %></td>
    <td><button class="btn btn-mini btn-warning" onclick="open_modal(<%=material.id%>,<%=material.count%>)" >使用</button></td>
  </tr>
<% end %>
</table>
<br />
<div id="_materials_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>材料出库单详情</h5>
  </div>
  <div class="modal-body">
<table class="table table-striped table-hover table-bordered">
  <tr>
    <td>使用日期</td>
    <td>
      <div class="input-append">
        <input class="input-medium" id="checkoutdate" value="<%=Time.now.strftime("%Y-%m-%d")%>"/>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>使用数量</td>
    <td><input class="input-medium" id="_number" name="number"/> <font color="red"> 现有库存量:<span id="_count"></span></font></td>
  </tr>
  <tr>
    <td>领用人</td>
    <td><textarea class="input-xlarge" rows="5"></textarea></td>
  </tr>
</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">关闭</button>
    <a href="#" class="btn btn-primary" onclick="modal_close()">确定</a>
  </div>
</div>
<%= content_for :inline_javascripts do %>
<%= make_datepicker("#checkoutdate") %>
  <script type="text/javascript">
    var _id; 
  function modal_close()
  {
    $("#_materials_modal").modal("hide");
    $.post("<%=materials_dismiss_path%>?id="+_id,
        { 
          stockout:$("#_number").val() 
        },
      function(result){
        $("#_"+_id).html(result);
      });

  }

// 打开模态窗体
function open_modal(id,count)
{
  _id = id;
  $("#_count").html(count);
  $("#_materials_modal").modal();
}
  </script>
<% end %>
