<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= stylesheet_link_tag 'chosen' %>
  <%= stylesheet_link_tag 'bootstrap-timepicker' %>
<% end %>

<%= form_for(@tourreport, :html=>{:class=>"form-horizontal", :id=>"formservice"}) do |f| %>
  <% if @tourreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tourreport.errors.count, "error") %> prohibited this tourreport from being saved:</h2>
      <ul>
      <% @tourreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter"><i class="icon-signal orange"></i>班报基本信息</h5>
          <span class="widget-toolbar">
            <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
          </span>
        </div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="row-fluid" id="_tourreport_baseinfo">

<div class="row-fluid">
  <div class="span10">
  <div class="control-group">
    <%= f.label "钻孔信息", :class=>"control-label" %>
    <div class="controls">
      <%=f.hidden_field :holeid, :value=>@hole.id %>
      <%= text_field_tag "", nil , :class=>"input-xxlarge", :value=>"合同名称：" + @hole.contract.name + "，钻孔编号：" +  @hole.holenumber , :readonly=>true %>
    </div>
  </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "班长" , :class=>"control-label" %>
    <div class="controls">
      <%=f.hidden_field :projectmanager, :value=>(@deplyment.nil? || @deployment.user.nil? || @deployment.user.leader.nil?)? "":@deployment.user.leader.id %>
      <%=f.hidden_field :administrator, :value=>(@deployment.nil? || @deployment.user.nil?)? "":@deployment.user.id %>
      <% if @deployment.nil? %>
      <%= f.select(:tourleader, options_for_select(""), :class=>"input-large" ) %>
      <% else  %>
      <%= f.select(:tourleader, options_for_select(Group.getmembers(@deployment.user)), :class=>"input-large" ) %>
      <% end %>
      <span class="help-button ace-popover" data-trigger="hover" data-placement="left" data-content="下拉选择这个班的班长" >?<span>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "班报日期", :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourdate,:class=>"input-large", :value=>Time.now.strftime("%Y-%m-%d") %><span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </div>
  </div>
  </div>
</div>


<div class="row-fluid">

  <div class="span5">
  <div class="control-group">
    <%= f.label "记录员" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :recorder ,:class=>"input-large" %>
      <span class="help-button ace-popover" data-trigger="hover" data-placement="left" data-content="输入班报的记录员" >?<span>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "班报时间" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.select(:starttime, options_for_select(Tourreport::TOURTIME),{}, {:class=>"input-small",:onchange=>"change_time()"}) %>&nbsp;&nbsp;至&nbsp;
      <%= f.select(:finishtime, options_for_select(Tourreport::TOURTIME ,:selected=>"08:00" ), {},{:class=>"input-small",:readonly=>true} ) %>
      <span class="help-button ace-popover" data-trigger="hover" data-placement="left" data-content="选择班报的时间，只需要选择开始时间即可" >?<span>
    </div>
  </div>
  </div>
  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="hr hr32 hr-dotted"></div>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter"><i class="icon-star orange"></i>班报工作内容</h5>
          <span class="widget-toolbar">
            <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
          </span>
        </div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="row-fluid" id="_line_container">
              
              <table class="table table-striped table-bordered" id="_workcontent_table">
                <thead>
                  <tr>
                  <th rowspan="2">操作</th>
                  <th colspan="2" style="text-align:center" >时间</th>
                  <th rowspan="2">工作内容</th>
                  <th rowspan="2">上余</th>
                  <th rowspan="2">进尺</th>
                  <th rowspan="2">孔深</th>
                  <th colspan="5" style="text-align:center">岩矿心</th>
                  <th colspan="3" style="text-align:center">钻头</th>
                  <th colspan="2" style="text-align:center">扩孔器</th>
                  <th colspan="4" style="text-align:center">钻进参数</th>
                </tr>
                <tr>
                  <th>起</th>
                  <th>至</th>
                  <th>名称</th>
                  <th>等级</th>
                  <th>编号</th>
                  <th>长度</th>
                  <th>残留</th>
                  <th>规格</th>
                  <th>类型</th>
                  <th>编号</th>
                  <th>编号</th>
                  <th>类型</th>
                  <th>压力</th>
                  <th>转速</th>
                  <th>泵量</th>
                </tr>
                </thead>
                <tbody>
                  <% @contentarr.each do |content| %>
                  <tr>
                    <td>&nbsp;&nbsp;</td>
                    <td>
                      <div class="input-append bootstrap-timepicker">
                        <%= text_field_tag "workcontent_starttime[]", nil, :class=>"time_picker input-mini" ,:value=>content.starttime.strftime("%H:%M") %><span class="add-on"><i class="icon-time"></i></span>
                      </div>
                    </td>
                    <td>
                    <div class="input-append bootstrap-timepicker">
                      <%= text_field_tag "workcontent_finishtime[]", nil, :class=>"time_picker input-mini" , :value=>content.finishtime.strftime("%H:%M") %><span class="add-on"><i class="icon-time"></i></span>
                    </div>
                    </td>
                    <td>
                    <%= select_tag("workcontent[]",options_for_select(Tourreport::WORKITEM , :selected=>content.content ), :class=>"input-medium" )%>
                    </td>
                    <td>
                      <%=text_field_tag "workcontent_upmore[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" ,:value=>content.upmore%>
                    </td>
                    <td>
                      <%=text_field_tag "workcontent_drilllength[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" ,:value=>content.drilllength%>
                    </td>
                    <td>
                      <%=text_field_tag "workcontent_holedeep[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)",:value=>content.holedeep %>
                    </td>
                    <td>
                      <%=text_field_tag "workcontent_corename[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)",:value=>content.corename %>
                    </td>
                    <td>
                      <%=text_field_tag "workcontent_coregrade[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" ,:value=>content.coregrade%>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_corenumber[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_corelength[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_coreleftlength[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_drillbit[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_drillbittype[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_drillbitnumber[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_enlargernumber[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_enlargertype[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_pumppressure[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_rotatespeed[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                    <td>
                    <%=text_field_tag "workcontent_pumpquantity[]" ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>

  <div class="control-group" id="_thelast">
    <input type="button" class="btn btn-info btn-small" onClick="add_line()" value="添加+"/>
  </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="hr hr32 hr-dotted"></div>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter"><i class="icon-rss orange"></i>班报其他信息</h5>
          <span class="widget-toolbar">
            <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
          </span>
        </div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="row-fluid" id="_tourreport_other">

<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "本班进尺" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourshift , :class=>"input-large", :readonly=>true %><span class="add-on">m</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "本班取心" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourcore  , :class=>"input-large", :readonly=>true %><span class="add-on">m</span>
      </div>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "纯钻时长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourdrillingtime , :class=>"input-large" , :readonly=>true %><span class="add-on">h</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "辅助时长" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :tourauxiliarytime , :class=>"input-large" , :readonly=>true %><span class="add-on">h</span>
      </div>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "孔内事故" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :holeaccidenttime , :class=>"input-large" , :readonly=>true %><span class="add-on">h</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "设备事故" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :deviceaccidenttime , :class=>"input-large" , :readonly=>true %><span class="add-on">h</span>
      </div>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "其他时长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :othertime , :class=>"input-large" , :readonly=>true %><span class="add-on">h</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "合计时长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :totaltime , :class=>"input-large" , :readonly=>true %><span class="add-on">h</span>
      </div>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "交班班长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :lastleader , :class=>"input-large" %><span class="add-on"><i class="icon-group"></i></span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "交班班长" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :nextleader, :class=>"input-large" %><span class="add-on"><i class="icon-group"></i></span>
      </div>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "接班孔深" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :lastdeep , :class=>"input-large" %><span class="add-on">m</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "交班孔深" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :currentdeep, :class=>"input-large" %><span class="add-on">m</span>
      </div>
    </div>
  </div>
  </div>
  </div>
  

<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "扶正器长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :centralizer , :class=>"input-large" %>
      <span class="help-button ace-popover" data-trigger="hover" data-placement="left" data-content="输入扶正器长的内容，没有则为空" >?<span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "防斜措施" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :antideviation, :class=>"input-large" %>
      <span class="help-button ace-popover" data-trigger="hover" data-placement="left" data-content="输入防斜措施，没有则为空" >?<span>
      </div>
    </div>
  </div>
  </div>
  </div>
  
<div class="row-fluid">
  <div class="span12">
  <div class="control-group">
    <%= f.label "钻具交接" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_area :intrumenttakeover ,:rows=>"4", :cols=>"3", :class=>"input-xxlarge" %>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
  <div class="control-group">
    <%= f.label "交接说明" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_area :takeoverremark ,:rows=>"4", :cols=>"3", :class=>"input-xxlarge" %>
      </div>
    </div>
  </div>
  </div>
  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "新增班报", :class=>"btn btn-primary" %>
    <%= link_back :class=>'btn btn-info', :html=>"<i class='icon-home'></i>" %>
  </div>
<% end %>
<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-datepicker.min' %>
<% end %>
<% content_for :inline_javascripts do %>
  <script type="text/javascript">


    var Fun_finishtime = function(){$(this).parent("div").parent("td").parent("tr").next("tr").find("input[class='time_picker input-mini']").val($(this).val());}

    var Fun_starttime = function(){$(this).parent("div").parent("td").parent("tr").find("input[class='time_picker input-mini'][name='workcontent_finishtime[]']").val($(this).val());}

    var Fun_computetime = function(){

    var drilltime = "00:00";
    var auxtime = "00:00";
    var holetime = "00:00";
    var devicetime = "00:00";
    var othertime = "00:00";
    var totaltime = "00:00";

    $("select[name='workcontent[]']").each(function(i){ 

      var _starttime = $(this).parent("td").parent("tr").find("input[name='workcontent_starttime[]']").val();
      var _endtime = $(this).parent("td").parent("tr").find("input[name='workcontent_finishtime[]']").val();
      var _span = compute_time(_starttime,_endtime);

      if($(this).val()=="钻进") 
      {
        drilltime = add_time(drilltime,_span);
        $("#tourreport_tourdrillingtime").val(drilltime);
      }
      else if ($(this).val() == "取心" || $(this).val()=="起下钻、取心" || $(this).val()=="起钻、取心" || $(this).val()=="下钻" || $(this).val()=="起钻")
      {
        auxtime = add_time(auxtime,_span);
        $("#tourreport_tourauxiliarytime").val(auxtime);
      }
      else if($(this).val()=="孔内事故")
      {
        holetime = add_time(holetime,_span);
        $("#tourreport_holeaccidenttime").val(holetime);
      }
      else if ($(this).val()=="设备事故")
      {
        devicetime = add_time(devicetime,_span);
        $("#tourreport_deviceaccidenttime").val(devicetime);
      }
      else 
      {
        othertime = add_time(othertime,_span);
        $("#tourreport_othertime").val(othertime);
      }

      totaltime = add_time(drilltime,auxtime);
      totaltime = add_time(totaltime,holetime);
      totaltime = add_time(totaltime,devicetime);
      totaltime = add_time(totaltime,othertime);
      $("#tourreport_totaltime").val(totaltime);

    });
  }
    

  $(function(){

  worktime_ready();
  refresh_event();

  $(".ace-popover").popover();

  $("#tourreport_tourdate").datepicker({format:'yyyy-mm-dd'});

  $("#formservice").validate({
  rules:{
  "tourreport[contractname]":{required:true,maxlength:200},
  "tourreport[projectname]":{required:true, maxlength:200},
  "tourreport[contractno]":{required:true},
  "tourreport[holenumber]":{required:true},
  "tourreport[administrator]":{required:true},
  "tourreport[tourleader]":{required:true},
  "tourreport[tourdate]":{required:true},
  "tourreport[recorder]":{required:true},
  "tourreport[starttime]":{required:true},
  "tourreport[finishtime]":{required:true},
  "tourreport[tourcore]":{number:true},
  "tourreport[tourshift]":{number:true},
  "tourreport[intrumenttakeover]":{required:true},
  "tourreport[lastdeep]":{required:true,number:true},
  "tourreport[currentdeep]":{required:true,number:true},
  },
  messages:{
     "tourreport[contractname]":{required:"合同名称不能为空",maxlength:"合同名称不能超过200字符"},
     "tourreport[projectname]":{required:"项目名称不能为空", maxlength:"合同编号不能超过200字符"},
     "tourreport[contractno]":{required:"合同编号不能为空"},
     "tourreport[holenumber]":{required:"孔号不能为空"},
     "tourreport[administrator]":{required:"项目经理不能为空"},
     "tourreport[tourleader]":{required:"班长不能为空"},
     "tourreport[tourdate]":{required:"班报日期不能为空"},
     "tourreport[recorder]":{required:"记录员不能为空"},
     "tourreport[starttime]":{required:"开始时间不能为空"},
     "tourreport[finishtime]":{required:"结束时间不能为空"},
     "tourreport[tourcore]":{number:"必须输入数字"},
     "tourreport[tourshit]":{number:"必须输入数字"},
     "tourreport[intrumenttakeover]":{required:"请输入钻具交接的内容"},
     "tourreport[lastdeep]":{required:"请输入接班孔深",number:"必须输入数字"},
     "tourreport[currentdeep]":{required:"请输交班孔深",number:"必须输入数字"},
  }
 });

        
    })

var new_line = '<tr><td><input type="button" name="_deleterow" id="_deleterow" onClick="deleteRow(this)" value=" - " /></td><td><div class="input-append bootstrap-timepicker"><input class="time_picker input-mini" id="workcontent_starttime" name="workcontent_starttime[]" type="text" /><span class="add-on"><i class="icon-time"></i></span></div></td><td><div class="input-append bootstrap-timepicker"><input class="time_picker input-mini" id="workcontent_finishtime" name="workcontent_finishtime[]" type="text" /><span class="add-on"><i class="icon-time"></i></span></div></td><td><select class="input-medium" id="workcontent" name="workcontent[]" ><option value="钻进">钻进</option><option value="起下钻、取心">起下钻、取心</option><option value="起钻、取心">起钻、取心</option><option value="起钻">起钻</option><option value="下钻" selected="selected">下钻</option><option value="取心">取心</option><option value="孔内事故">孔内事故</option><option value="设备事故">设备事故</option><option value="停待">停待</option><option value="简易水文观测">简易水文观测</option><option value="封孔">封孔</option><option value="其他">其他</option></select></td><td><input class="input-mini" id="workcontent_upmore" name="workcontent_upmore[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_drilllength" name="workcontent_drilllength[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_holedeep" name="workcontent_holedeep[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_corename" name="workcontent_corename[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_coregrade" name="workcontent_coregrade[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_corenumber" name="workcontent_corenumber[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_corelength" name="workcontent_corelength[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_coreleftlength" name="workcontent_coreleftlength[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_drillbit" name="workcontent_drillbit[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_drillbittype" name="workcontent_drillbittype[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_drillbitnumber" name="workcontent_drillbitnumber[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_enlargernumber" name="workcontent_enlargernumber[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_enlargertype" name="workcontent_enlargertype[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_pumppressure" name="workcontent_pumppressure[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_rotatespeed" name="workcontent_rotatespeed[]" onblur="compute_content(this)" type="text" /></td><td><input class="input-mini" id="workcontent_pumpquantity" name="workcontent_pumpquantity[]" onblur="compute_content(this)" type="text" /></td></tr>';

    
    function worktime_ready()
    {
        $(".time_picker").timepicker({
            minuteStep:1,
            showSeconds:false,
            showMeridian:false
          });
    }

  function change_time()
  {

    if($("#tourreport_starttime").val()=="00:00")
    {
        $("#tourreport_finishtime").val("08:00");
    }
    else if($("#tourreport_starttime").val()=="08:00")
    {
        $("#tourreport_finishtime").val("16:00");
    }
    else if($("#tourreport_starttime").val()=="16:00")
    {
        $("#tourreport_finishtime").val("00:00");
    }

    $("input[name='workcontent_starttime[]']").val($("#tourreport_starttime").val());
    $("input[name='workcontent_finishtime[]']").val($("#tourreport_starttime").val());

  }

  
  function refresh_event()
  {
  $("input[class='time_picker input-mini'][name='workcontent_finishtime[]']").unbind("change",Fun_finishtime);
  $("input[class='time_picker input-mini'][name='workcontent_finishtime[]']").bind("change",Fun_finishtime);

  $("input[class='time_picker input-mini'][name='workcontent_starttime[]']").unbind("change",Fun_starttime);
  $("input[class='time_picker input-mini'][name='workcontent_starttime[]']").bind("change",Fun_starttime);

  $("input[class='time_picker input-mini']").unbind("change",Fun_computetime);
  $("input[class='time_picker input-mini']").bind("change",Fun_computetime);

  $("select[name='workcontent[]']").unbind("change",Fun_computetime);
  $("select[name='workcontent[]']").bind("change",Fun_computetime);

  }

  function add_line()
  {
    // alert($("#_line_container div").first());
    // $("#_thelast").before($("#_line_container div").first().clone().append(delete_row_content)); //.append(delete_row_content);
    $("#_workcontent_table").append(new_line);
    worktime_ready();
    refresh_event();
    $("input[class='time_picker input-mini']").trigger("change");

  }

  function compute_content(obj)
  {
      var pattern = /^([0-9])+$/;
      var drillsummary=0;
      $("input[name='workcontent_drilllength[]']").each(function(i){
          if($(this).val()!=undefined && $(this).val()!="" &&  pattern.test($(this).val()) ) 
          drillsummary+=parseInt($(this).val());
      });

      $("#tourreport_tourshift").val(drillsummary);
      var coresummary = 0;
      $("input[name='workcontent_corelength[]']").each(function(i){
          if($(this).val()!=undefined && $(this).val()!="" && pattern.test($(this).val()) ) 
          coresummary+=parseInt($(this).val());
       });
      $("#tourreport_tourcore").val(coresummary);
  }

  function length_content(obj)
  {
    var pattern = /^([0-9])+$/;
    if(pattern.test($(obj).val()))
    {
      var result = 0;
      $("input[name='corelength[]']").each(function(i){result += parseInt($(this).val());});
      $("#tourreport_tourcore").val(result);
    }
  }


  function deleteRow(obj)
  {
    $(obj).parent("td").parent("tr").remove();
    refresh_event();
   $("input[class='time_picker input-mini']").trigger("change");
  }

  function compute_time(startstr,finishstr)
  {
        var _starttime_ms = Date.parse("2013/09/13 " + startstr);
        var _endtime_ms = Date.parse("2013/09/13 " + finishstr);
        var _span = _endtime_ms - _starttime_ms;
        var hours = Math.floor(_span/(3600*1000));
        var leave = _span%(3600*1000);
        var minutes = Math.floor(leave/(60*1000));
        if(minutes<10)
        {
          return hours+":0"+minutes;
        }
        else
        {
          return hours+":"+minutes;
        }
    
  }

  function add_time(time1,time2)
  {
    var timearr1 = time1.split(":");
    var timearr2 = time2.split(":");
    var hoursum = parseInt(timearr1[0]) + parseInt(timearr2[0]);
    var minutesum = parseInt(timearr1[1]) + parseInt(timearr2[1]);
    var hourleft = Math.floor(minutesum/60);
    var minutesleft = minutesum%60;
    var hourtotal = hoursum + hourleft;
    if (minutesleft <10)
      return hourtotal + ":0" + minutesleft;
    else
      return hourtotal + ":" + minutesleft;
  } 

  </script>
<% end %>
