<%= form_for(@tourreport, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @tourreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tourreport.errors.count, "error") %> prohibited this tourreport from being saved:</h2>

      <ul>
      <% @tourreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label "班报日期", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :tourdate,:class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "开始时间" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.select(:starttime, options_for_select(Tourreport::TOURTIME), :class=>"text_field",:cols=>"3", :prompt=>"请选择...") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "结束时间" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.select(:finishtime, options_for_select(Tourreport::TOURTIME), :class=>"text_field",:cols=>"3", :prompt=>"请选择...") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "项目经理", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :administrator , :class=>"text_field"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "班长" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :tourleader , :class=>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "记录员" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :recorder ,:class=>"text_field"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "本班进尺" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :tourshift , :class=>"text_field" %><span class="add-on">米</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "本班取心" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :tourcore  , :class=>"text_field"%><span class="add-on">米</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "纯钻时长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :tourdrillingtime , :class=>"text_field" %><span class="add-on">小时</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "辅助时长" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :tourauxiliarytime , :class=>"text_field"%><span class="add-on">小时</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "备注" , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :remark ,:class=>"input-xlarge" ,:rows=>"4"%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "新增班报" , :class=>"btn btn-primary" %>
    <%= link_back :class=>'btn' %>
  </div>
<% end %>
<%= make_datepicker(:model=>"tourreport",:property=>"tourdate") %>
