<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= stylesheet_link_tag 'chosen' %>
  <%= stylesheet_link_tag 'bootstrap-timepicker' %>
<% end %>
<%= form_for(@tourreport, :html=>{:class=>"form-horizontal", :id=>"formservice"}) do |f| %>
  <% if @tourreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tourreport.errors.count, "error") %> prohibited this tourreport from being saved:</h2>
      <ul>
      <% @tourreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "合同名称", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :contractname, :class=>"text_field", :value=>@hole.contract.name ,:readonly=>true %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "项目名称", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :projectname , :class=>"text_field", :value=>@hole.contract.projectname , :readonly=>true %>
    </div>
  </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "项目编号", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :contractno , :class=>"text_field", :value=>@hole.contract.contractno , :readonly=>true %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "钻孔编号", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :holenumber , :class=>"text_field", :value=>@hole.holenumber , :readonly=>true %>
    </div>
  </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "项目经理", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :administrator , :class=>"text_field" , :value=>"机长" , :readonly=>true%>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "班长" , :class=>"control-label" %>
    <div class="controls">
      <%= f.select(:tourleader, options_for_select([["班长一"],["班长二"],["班长三"]]),:class=>"text_field", :cols=>"3", :prompt=>"选择班长") %>
    </div>
  </div>
  </div>

</div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "班报日期", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :tourdate,:class=>"text_field" %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "记录员" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :recorder ,:class=>"text_field"%>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "开始时间" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.select(:starttime, options_for_select(Tourreport::TOURTIME),{}, {:class=>"text_field",:cols=>"3",:onchange=>"change_time()"}) %>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "结束时间" ,:class=>"control-label" %>
    <div class="controls">
      <%= f.select(:finishtime, options_for_select(Tourreport::TOURTIME_END ,:selected=>"08:00" ), {:class=>"text_field",:cols=>"3" }) %>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "本班进尺" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourshift , :class=>"text_field", :readonly=>true %><span class="add-on">米</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "本班取心" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourcore  , :class=>"text_field", :readonly=>true %><span class="add-on">米</span>
      </div>
    </div>
  </div>
  </div>
  </div>


<div class="row-fluid">
  <div class="span5">
  <div class="control-group">
    <%= f.label "纯钻时长" ,:class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :tourdrillingtime , :class=>"text_field" , :readonly=>true %><span class="add-on">小时</span>
      </div>
    </div>
  </div>
  </div>

  <div class="span5">
  <div class="control-group">
    <%= f.label "辅助时长" , :class=>"control-label" %>
    <div class="controls">
      <div class="input-append">
      <%= f.text_field :tourauxiliarytime , :class=>"text_field" , :readonly=>true %><span class="add-on">小时</span>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="space-24"></div>
  <h5 class="header smaller lighter green">工作内容</h5>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-header">
          <h5>班报工作内容</h5>
          <span class="widget-toolbar">
            <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
          </span>
        </div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="row-fluid" id="_line_container">
              
   <div class="control-group">
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_starttime, nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_finishtime, nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-prepend">
      <span class="add-on">工作内容</span>
      <%= select_tag(:workcontent,options_for_select(Tourreport::WORKITEM , :selected=>"下钻"), :class=>"input-small" , :onchange=>"content_change(this)"  )%>
    </div>
  </div>
  <div class="control-group">
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_starttime,nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_finishtime,nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-prepend">
      <span class="add-on">工作内容</span>
      <%= select_tag(:workcontent,options_for_select(Tourreport::WORKITEM , :selected=>"钻进"), :class=>"input-small", :onchange=>"content_change(this)")%>&nbsp;&nbsp;
    </div>
    <div class="input-prepend">
      <span class="add-on">进尺</span>
      <%=text_field_tag :workcontent_drillfootage ,nil, :class=>"input-mini",:onblur=>"compute_content(this)" %>
    </div>
    <div class="input-prepend">
      <span class="add-on">钻头</span>
      <%=text_field_tag :workcontent_drillbit ,nil, :class=>"input-mini" %>
  </div>
    <div class="input-prepend">
      <span class="add-on">转速</span>
      <%=text_field_tag :workcontent_rotatespeed ,nil, :class=>"input-mini" %>
    </div>
    <div class="input-prepend">
      <span class="add-on">泵量</span>
      <%=text_field_tag :workcontent_pumpquantity ,nil, :class=>"input-mini" %>
    </div>
    <div class="input-prepend">
      <span class="add-on">泵压</span>
      <%=text_field_tag :workcontent_pumppressure,nil, :class=>"input-mini" %>
    </div>
  </div>
  <div class="control-group">
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_starttime,nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_starttime,nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-prepend">
      <span class="add-on">工作内容</span>
      <%= select_tag(:workcontent,options_for_select(Tourreport::WORKITEM,:selected=>"取心"), :class=>"input-small" , :onchange=>"content_change(this)" )%>&nbsp;&nbsp;
    </div>
    <div class="input-prepend">
      <span class="add-on">岩心长度</span>
      <%= text_field_tag :corelength, nil,:class=>"input-mini" ,:onblur=>"length_content(this)" %>&nbsp;&nbsp;
    </div>
    <div class="input-prepend">
      <span class="add-on">残留岩心长度</span>
      <%= text_field_tag :coreleftlength,nil, :class=>"input-mini" %>&nbsp;&nbsp;
    </div>
  </div>
  <div class="control-group">
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_starttime,nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-append bootstrap-timepicker">
      <%= text_field_tag :workcontent_starttime,nil, :class=>"time_picker input-mini" %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    <div class="input-prepend">
      <span class="add-on">工作内容</span>
      <%= select_tag(:workcontent,options_for_select(Tourreport::WORKITEM, :selected=>"起钻"),:class=>"input-small" ,:onchange=>"content_change(this)" )%>&nbsp;&nbsp;
    </div>
  </div>
  <div class="control-group" id="_thelast">
      <button class="btn btn-info" onclick="javascript:add_line()" ><i class="icon-plus"></i> 增加一行</button>
  </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "新增班报" , :class=>"btn btn-primary" %>
    <%= link_back :class=>'btn btn-info', :html=>"<i class='icon-home'></i>" %>
  </div>
<% end %>
<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
<% end %>
<% content_for :inline_javascripts do %>
  <script type="text/javascript">
    $(function(){
        $(".time_picker").timepicker({
            minuteStep:1,
            showSeconds:true,
            showMeridian:false
          });

  $("#formservice").validate({
  rules:{
  "tourreport[contractname]":{required:true,maxlength:200},
  "tourreport[projectname]":{required:true, maxlength:200},
  "tourreport[contractno]":{required:true},
  "tourreport[holenumber]":{required:true},
  "tourreport[administrator]":{required:true},
  "tourreport[tourleader]":{required:true},
  "tourreport[tourdate]":{required:true},
  "tourreport[recorder]":{required:true},
  "tourreport[starttime]":{required:true},
  "tourreport[finishtime]":{required:true},
  "tourreport[tourcore]":{number:true},
  "tourreport[tourshift]":{number:true},
  },
  messages:{
     "tourreport[contractname]":{required:"合同名称不能为空",maxlength:"合同名称不能超过200字符"},
     "tourreport[projectname]":{required:"项目名称不能为空", maxlength:"合同编号不能超过200字符"},
     "tourreport[contractno]":{required:"合同编号不能为空"},
     "tourreport[holenumber]":{required:"孔号不能为空"},
     "tourreport[administrator]":{required:"项目经理不能为空"},
     "tourreport[tourleader]":{required:"班长不能为空"},
     "tourreport[tourdate]":{required:"班报日期不能为空"},
     "tourreport[recorder]":{required:"记录员不能为空"},
     "tourreport[starttime]":{required:"开始时间不能为空"},
     "tourreport[finishtime]":{required:"结束时间不能为空"},
     "tourreport[tourcore]":{number:"必须输入数字"},
     "tourreport[tourshit]":{number:"必须输入数字"},
  }
 });

        
    })

    var zuanjin_content='&nbsp;<div class="input-prepend"><span class="add-on">进尺</span><input class="input-mini" id="workcontent_drillfootage" name="workcontent_drillfootage" type="text" onblur="compute_content(this)"/></div>&nbsp;<div class="input-prepend"><span class="add-on">钻头</span><input class="input-mini" id="workcontent_drillbit" name="workcontent_drillbit" type="text" /></div>&nbsp;<div class="input-prepend"><span class="add-on">转速</span><input class="input-mini" id="workcontent_rotatespeed" name="workcontent_rotatespeed" type="text" />&nbsp;</div><div class="input-prepend"><span class="add-on">泵量</span><input class="input-mini" id="workcontent_pumpquantity" name="workcontent_pumpquantity" type="text" /></div>&nbsp;<div class="input-prepend"><span class="add-on">泵压</span><input class="input-mini" id="workcontent_pumppressure" name="workcontent_pumppressure" type="text" /></div>';
    var quxin_content= '&nbsp;<div class="input-prepend"><span class="add-on">岩心长度</span><input class="input-mini" id="corelength" name="corelength" type="text" onblur="length_content(this)" />&nbsp;&nbsp;</div>&nbsp;<div class="input-prepend"><span class="add-on">残留岩心长度</span><input class="input-mini" id="coreleftlength" name="coreleftlength" type="text" />&nbsp;&nbsp;</div>';

    var newline_content='<div class="control-group"><div class="input-append bootstrap-timepicker"><input class="time_picker input-mini" id="workcontent_starttime" name="workcontent_starttime" type="text" /><span class="add-on"><i class="icon-time"></i></span></div><div class="input-append bootstrap-timepicker"><input class="time_picker input-mini" id="workcontent_finishtime" name="workcontent_finishtime" type="text" /><span class="add-on"><i class="icon-time"></i></span></div><div class="input-prepend"><span class="add-on">工作内容</span><select class="input-small" id="workcontent" name="workcontent" onchange="content_change(this)"><option value="下钻" selected="selected">下钻</option><option value="钻进">钻进</option><option value="取心">取心</option><option value="起钻">起钻</option><option value="事故处理">事故处理</option><option value="停待">停待</option><option value="下套管">下套管</option><option value="测井">测井</option><option value="孔深校正">孔深校正</option><option value="简易水文观测">简易水文观测</option><option value="封孔">封孔</option><option value="其他">其他</option></select></div></div>';
    

  function change_time()
  {

    if($("#tourreport_starttime").val()=="00:00")
    {
        $("#tourreport_finishtime").val("08:00");
    }
    else if($("#tourreport_starttime").val()=="08:00")
    {
        $("#tourreport_finishtime").val("16:00");
    }
    else if($("#tourreport_starttime").val()=="16:00")
    {
        $("#tourreport_finishtime").val("23:59");
    }

  }


  function content_change(obj)
  {
    if($(obj).val()=="钻进")
    {
      $(obj).parent("div").nextAll().each(function(i){$(this).remove();});
      $(obj).parent("div").after(zuanjin_content);
    }
    else if ($(obj).val() == "取心")
    {
      $(obj).parent("div").nextAll().each(function(i){$(this).remove();});
      $(obj).parent("div").after(quxin_content);
    }
    else
    {
      $(obj).parent("div").nextAll().each(function(i){$(this).remove();});
    }

  }

  function add_line()
  {
   // alert($("#_line_container div").first());
   $("#_thelast").before($("#_line_container div").first().clone());
  }

  function compute_content(obj)
  {
    var pattern = /^([0-9])+$/;
    if(pattern.test($(obj).val()))
    {
      var summary=0;
      $("input[name='workcontent_drillfootage']").each(function(i){summary+=parseInt($(this).val());});
      $("#tourreport_tourshift").val(summary);
       
    }
    //alert($(obj).val()); 

    //alert("on mouse up event");
  }

  function length_content(obj)
  {
    var pattern = /^([0-9])+$/;
    if(pattern.test($(obj).val()))
    {
      var result = 0;
      $("input[name='corelength']").each(function(i){result += parseInt($(this).val());});
      $("#tourreport_tourcore").val(result);
    }
  }

  </script>
<% end %>
