
<% content_for(:title,"班报统计") %>
<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= stylesheet_link_tag 'chosen' %>
  <%= stylesheet_link_tag 'bootstrap-timepicker' %>
<% end %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="center" width="%8">钻孔编号</th>
      <th class="center" width="%5">合同名称</th>
      <th class="center" width="10%">台月效率</th>
      <th class="center" width="15%">岩心采取率</th>
      <th class="center" width="15%">机械钻速</th>
      <th class="center" width="15%">材料消耗</th>
      <th class="center" width="%5">状态</th>
    </tr>
  </thead>
  <tbody>
  <% @holes.each do |hole| %>
    <tr>
      <td class="center"><%= hole.holenumber %> </td>
      <td class="center"><%= hole.contract.name %> </td>
      <td class="center"><%= compute_montheffiency hole.id %> </td>
      <td class="center"><%= compute_coreratio hole.id %> </td>
      <td class="center"><%= compute_mechspeed hole.id %> </td>
      <td class="center"><%= hole.statusstr %> </td>
      <td class="center"><%= hole.statusstr %> </td>
    </tr>
  <% end %>
  <%= will_paginate @holes %>
  </tbody>
</table>

<%= content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min' %>
  <%= javascript_include_tag 'jquery.ui.touch-punch.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'fuelux/fuelux.spinner.min' %>
  <%= javascript_include_tag 'date-time/moment.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-timepicker.min' %>
  <%= javascript_include_tag 'date-time/bootstrap-datepicker.min' %>
<% end %>
<% content_for :inline_javascripts do %>
  <script type="text/javascript">


  </script>
<% end %>
