<% content_for(:title,"班报详情") %>

<div class="row-fluid">
    <div class="span12">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter"><i class="icon-signal orange"></i>钻进班报表记录</h5>
          <div class="widget-toolbar widget-toolbar-light no-border">
          <i class="icon-bell purple"></i>
          钻孔编号：<span class="text-warning" style="text-decoration:underline"><%=@tourreport.hole.holenumber if @tourreport.hole %></span>
          <i class="icon-bell purple"></i>
          <span class="text-error" style="text-decoration:underline"><%=@deployment.rigmachine.devicenumber if @deployment && @deployment.rigmachine  %></span>号钻机
          <span class="text-error" style="text-decoration:underline"><%=@tourreport.tourdate.strftime("%Y") %></span>年<span class="text-error" style="text-decoration:underline"><%=@tourreport.tourdate.strftime("%m") %></span>月<span class="text-error" style="text-decoration:underline"><%=@tourreport.tourdate.strftime("%d") %></span>日<span class="text-error" style="text-decoration:underline"><%= @tourreport.starttime.strftime("%H:%M")%></span>至<span class="text-error" style="text-decoration:underline"><%=@tourreport.finishtime.strftime("%H:%M")%></span>时<span class="text-error" style="text-decoration:underline"><%= morning_or_noon(@tourreport.starttime.strftime("%H:%M"))  %></span>班</span>
           </div>
        </div>
        <div class="widget-body">
          <div class="widget-main no-padding">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                  <th colspan="2" style="text-align:center" >时间</th>
                  <th rowspan="2">工作内容</th>
                  <th rowspan="2">上余</th>
                  <th rowspan="2">进尺</th>
                  <th rowspan="2">孔深</th>
                  <th colspan="5" style="text-align:center">岩矿心</th>
                  <th colspan="3" style="text-align:center">钻头</th>
                  <th colspan="2" style="text-align:center">扩孔器</th>
                  <th colspan="3" style="text-align:center">钻进参数</th>
                </tr>
                <tr>
                  <th>起</th>
                  <th>至</th>
                  <th>名称</th>
                  <th>等级</th>
                  <th>编号</th>
                  <th>长度</th>
                  <th>残留</th>
                  <th>规格</th>
                  <th>类型</th>
                  <th>编号</th>
                  <th>类型</th>
                  <th>编号</th>
                  <th>压力</th>
                  <th>转速</th>
                  <th>泵量</th>
                </tr>
                </thead>
                <tbody>
                 <% @contentarr.each do |content| %>
                   <tr>
                     <td><%=content.starttime.strftime("%H:%M") %></td>
                     <td><%=content.finishtime.strftime("%H:%M") %></td>
                     <td><%=content.content %></td>
                     <td><%=content.upmore%></td>
                     <td><%=content.drilllength %></td>
                     <td><%=content.holedeep %></td>
                     <td><%=content.corename %></td>
                     <td><%=content.coregrade%></td>
                     <td><%=content.corenumber%></td>
                     <td><%=content.corelength%></td>
                     <td><%=content.coreleftlength%></td>
                     <td><%=content.drillbit%></td>
                     <td><%=content.drillbittype%></td>
                     <td><%=content.drillbitnumber%></td>
                     <td><%=content.enlargertype%></td>
                     <td><%=content.enlargernumber%></td>
                     <td><%=content.pumppressure%></td>
                     <td><%=content.rotatespeed%></td>
                     <td><%=content.pumpquantity%></td>
                   </tr>
                 <% end %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">本班进尺</td>
                    <td><%=@tourreport.tourshift%></td>
                    <td colspan="2">本班取心</td>
                    <td><%=@tourreport.tourcore%></td>
                    <td colspan="2">扶正器长</td>
                    <td colspan="5"><%=@tourreport.centralizer%></td>
                    <td colspan="2">防斜措施</td>
                    <td colspan="5"><%=@tourreport.antideviation%></td>
                  </tr>
                  <tr>
                    <td colspan="3">交接说明或记事</td>
                    <td colspan="17"><%=@tourreport.takeoverremark%></td>
                  </tr>
                  <tr>
                    <td colspan="2">出勤人员</td>
                    <td colspan="2">
                      <ul class="unstyled spaced">
                        <li><i class="icon-group blue"></i><%=User.find(@tourreport.administrator).name%></li>
                        <li><i class="icon-group blue"></i><%=User.find(@tourreport.tourleader).name%></li>
                        <li><i class="icon-group blue"></i><%=@tourreport.recorder%></li>
                      </ul>
                    </td>
                    <td colspan="2" >时长计算</td>
                    <td colspan="3">
                      <ul class="unstyled spaced">
                      <li><i class="icon-star blue"></i>纯钻<%=@tourreport.tourdrillingtime%></li>
                      <li><i class="icon-star blue"></i>辅助<%=@tourreport.tourauxiliarytime%></li>
                      <li><i class="icon-star blue"></i>孔内<%=@tourreport.holeaccidenttime%></li>
                      <li><i class="icon-star blue"></i>设备<%=@tourreport.deviceaccidenttime%></li>
                      <li><i class="icon-star blue"></i>其他<%=@tourreport.othertime%></li>
                      <li><i class="icon-star blue"></i>合计<%=@tourreport.totaltime%></li>
                      </ul>
                    </td>
                    <td colspan="2">钻具交接</td>
                    <td colspan="9"><%=@tourreport.intrumenttakeover%></td>
                  </tr>
                  <tr>
                    <td colspan="2">说明</td>
                    <td colspan="18">
                      <ul class="inline">
                        <i class="icon-circle green"></i> 项目经理:<%=User.find(@tourreport.projectmanager).name%>
                        <i class="icon-circle green"></i> 机长:<%=User.find(@tourreport.administrator).name%>
                        <i class="icon-circle green"></i> 班记录员:<%=@tourreport.recorder%>
                        <i class="icon-circle green"></i> 交班班长:<%=@tourreport.lastleader%>
                        <i class="icon-circle green"></i> 接班班长:<%=@tourreport.nextleader%>
                      </ul>
                    </td>
                  </tr>
                </tfoot>

          </div>
        </div>
      </div>
    </div>
  </div>

