<p id="notice"><%= notice %></p>

<p>
  <b>Holeid:</b>
  <%= @tourreport.holeid %>
</p>

<p>
  <b>Tourdate:</b>
  <%= @tourreport.tourdate %>
</p>

<p>
  <b>Starttime:</b>
  <%= @tourreport.starttime %>
</p>

<p>
  <b>Finishtime:</b>
  <%= @tourreport.finishtime %>
</p>

<p>
  <b>Administrator:</b>
  <%= @tourreport.administrator %>
</p>

<p>
  <b>Tourleader:</b>
  <%= @tourreport.tourleader %>
</p>

<p>
  <b>Recorder:</b>
  <%= @tourreport.recorder %>
</p>

<p>
  <b>Tourshift:</b>
  <%= @tourreport.tourshift %>
</p>

<p>
  <b>Tourcore:</b>
  <%= @tourreport.tourcore %>
</p>

<p>
  <b>Tourdrillingtime:</b>
  <%= @tourreport.tourdrillingtime %>
</p>

<p>
  <b>Tourauiliarytime:</b>
  <%= @tourreport.tourauxiliarytime %>
</p>

<p>
  <b>Remark:</b>
  <%= @tourreport.remark %>
</p>


<%= link_to 'Edit', edit_tourreport_path(@tourreport) %> |
<%= link_to 'Back', tourreports_path %>
