<% content_for(:title,"班报详情") %>

<div class="row-fluid">
    <div class="span12">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
          <h5 class="lighter"><i class="icon-signal orange"></i>钻进班报表记录,该报班来自:<font color="red"><% if @tourreport.source==1 %><%= "大平台"%><img src='/assets/icons/little_pc.png' width='20'><% else %><%="手机平台"%> <img src='/assets/icons/mobile_basic_red.png' width='20'><%end%></font> </h5>
          <div class="widget-toolbar widget-toolbar-light no-border">
          <i class="icon-bell purple"></i>
          钻孔编号：<span class="text-warning" style="text-decoration:underline"><%=@tourreport.hole.holenumber if @tourreport.hole %></span>
          <i class="icon-bell purple"></i>
          <span class="text-error" style="text-decoration:underline"><%=@deployment.rigmachine.devicenumber if @deployment && @deployment.rigmachine  %></span>号钻机
          <span class="text-error" style="text-decoration:underline"><%=@tourreport.tourdate.strftime("%Y") %></span>年<span class="text-error" style="text-decoration:underline"><%=@tourreport.tourdate.strftime("%m") %></span>月<span class="text-error" style="text-decoration:underline"><%=@tourreport.tourdate.strftime("%d") %></span>日<span class="text-error" style="text-decoration:underline"><%= @tourreport.starttime.strftime("%H:%M")%></span>至<span class="text-error" style="text-decoration:underline"><%=@tourreport.finishtime.strftime("%H:%M")%></span>时
           </div>
        </div>
        <div class="widget-body">
          <div class="widget-main no-padding">
            <% if @tourreport.hole &&  @tourreport.hole.outerflag == 1 %>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>钻孔类型</th>
                    <th>钻孔编号</th>
                    <th>班报时间</th>
                    <th>本班进尺</th>
                    <th>当前孔深</th>
                    <th>项目经理</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>外协孔</td>
                    <td><%= @tourreport.hole.holenumber if @tourreport.hole %></td>
                    <td><%= @tourreport.starttime.strftime("%H:%M") %> 至 24:00 </td>
                    <td><%= @tourreport.tourshift %></td>
                    <td><%= @tourreport.currentdeep %></td>
                    <td><li><i class="icon-group blue"></i><% if @tourreport.projectmanager %><%=User.find(@tourreport.projectmanager).name%><% end %></li></td>
                  </tr>
				  <tr>
				  	<td>交接说明</td>
					<td colspan="5"> <%= @tourreport.takeoverremark %></td>
				  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>备注信息<th>
                    <td colspan="5"><td>
                  </tr>
                </tfoot>
              </table>
            <% else %>
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                  <th colspan="2" style="text-align:center" >时间</th>
                  <th rowspan="2" width="100" style="text-align:center" >工作内容</th>
                  <th rowspan="2" width="40" style="text-align:center">上余<br/>(m)</th>
                  <th rowspan="2" width="40" style="text-align:center" >进尺<br/>(m)</th>
                  <th rowspan="2" width="50" style="text-align:center">孔深<br/>(m)</th>
                  <th colspan="3" style="text-align:center">岩矿心</th>
                  <th colspan="3" style="text-align:center">钻头</th>
                  <th colspan="2" style="text-align:center">扩孔器</th>
                  <th colspan="3" style="text-align:center">钻进参数</th>
                  <th rowspan="2" width="50" style="text-align:center">泥浆使用量</th>
                </tr>
                <tr>
                  <th>起</th>
                  <th>至</th>
                  <th width="50" style="text-align:center">编号</th>
                  <th width="40" style="text-align:center">长度<br/>(m)</th>
                  <th width="40" style="text-align:center">残留<br/>(m)</th>
                  <th>规格</th>
                  <th>类型</th>
                  <th>编号</th>
                  <th>类型</th>
                  <th>编号</th>
                  <th>压力</th>
                  <th>转速</th>
                  <th>泵量</th>
                </tr>
                </thead>
                <tbody>
                 <% @contentarr.each do |content| %>
                   <tr>
                     <td><%=content.starttime.strftime("%H:%M") %></td>
                     <td><%=content.finishtime.strftime("%H:%M") %></td>
                     <td><%=content.content %></td>
                     <td><%=content.upmore%></td>
                     <td><%=content.drilllength %></td>
                     <td><%=content.holedeep %></td>
                     <td><%=content.corenumber%></td>
                     <td><%=content.corelength%></td>
                     <td><%=content.coreleftlength%></td>
                     <td><%=content.drillbit%></td>
                     <td><%=content.drillbittype%></td>
                     <td><%=content.drillbitnumber%></td>
                     <td><%=content.enlargertype%></td>
                     <td><%=content.enlargernumber%></td>
                     <td><%=content.pumppressure%></td>
                     <td><%=content.rotatespeed%></td>
                     <td><%=content.pumpquantity%></td>
                     <td><%=content.mudamount%></td>
                   </tr>
                 <% end %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">本班进尺</td>
                    <td><%=@tourreport.tourshift%></td>
                    <td colspan="2">本班取心</td>
                    <td><%=@tourreport.tourcore%></td>
                    <td colspan="2">扶正器长</td>
                    <td colspan="5"><%=@tourreport.centralizer%></td>
                    <td colspan="2">防斜措施</td>
                    <td colspan="5"><%=@tourreport.antideviation%></td>
                  </tr>
                  <tr>
                    <td colspan="3">交接说明或记事</td>
                    <td colspan="17"><%=@tourreport.takeoverremark%></td>
                  </tr>
                  <tr>
                    <td colspan="2">出勤人员</td>
                    <td colspan="2">
                      <ul class="unstyled spaced">
                        <li><i class="icon-group blue"></i><% if @tourreport.administrator %><%=User.find(@tourreport.administrator).name%><% end %></li>
                        <li><i class="icon-group blue"></i><% if @tourreport.tourleader %><%=User.find(@tourreport.tourleader).name%><% end %></li>
                        <li><i class="icon-group blue"></i><%=@tourreport.recorder%></li>
                      </ul>
                    </td>
                    <td colspan="2" >时长计算</td>
                    <td colspan="3">
                      <ul class="unstyled spaced">
                      <li><i class="icon-star blue"></i>纯钻<%=@tourreport.tourdrillingtime%></li>
                      <li><i class="icon-star blue"></i>辅助<%=@tourreport.tourauxiliarytime%></li>
                      <li><i class="icon-star blue"></i>孔内<%=@tourreport.holeaccidenttime%></li>
                      <li><i class="icon-star blue"></i>设备<%=@tourreport.deviceaccidenttime%></li>
                      <li><i class="icon-star blue"></i>其他<%=@tourreport.othertime%></li>
                      <li><i class="icon-star blue"></i>合计<%=@tourreport.totaltime%></li>
                      </ul>
                    </td>
                    <td colspan="2">钻具交接</td>
                    <td colspan="9"><%=@tourreport.intrumenttakeover%></td>
                  </tr>
                  <tr>
                    <td colspan="2">说明</td>
                    <td colspan="18">
                      <ul class="inline">
                      <i class="icon-circle green"></i> 项目经理:<% if @tourreport.projectmanager && !@tourreport.projectmanager.empty?  %> <%= User.find(@tourreport.projectmanager).name  %> <% end %>
                      <i class="icon-circle green"></i> 机长:<% if @tourreport.administrator && !@tourreport.administrator.empty?%><%=User.find(@tourreport.administrator).name%><%end %>
                        <i class="icon-circle green"></i> 交班班长:<%if @tourreport.nextleader%> <%=User.find(@tourreport.nextleader).name%><%end%>
                        <i class="icon-circle green"></i> 接班班长:<%if @tourreport.lastleader %><%=User.find(@tourreport.lastleader).name%><%end%>
                        <i class="icon-circle green"></i> 班记录员:<%=@tourreport.recorder%>
                      </ul>
                    </td>
                  </tr>
                </tfoot>
              </table>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

