<% content_for(:title,"钻孔归档") %>
<table class="table table-striped">
  <tr>
    <th>矿区</th>
    <th>孔号</th>
    <th>深度</th>
    <th>孔径</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>所属合同</th>
    <th>钻孔状态</th>
    <th>操作</th>
  </tr>

<% @holes.each do |hole| %>
  <tr>
    <td><%= hole.minearea %></td>
    <td><%= hole.holenumber %></td>
    <td><%= hole.designdeep %></td>
    <td><%= hole.designdiameter %></td>
    <td><%= hole.startdate %></td>
    <td><%= hole.finishdate %></td>
    <td><%=link_to hole.contract.name,{:controller=>"contracts", :action=>"show", :id=>hole.contract.id } %></td>
    <td><%= hole_status_treat(hole.status)%></td>
    <td><%= hole_enable_archive(hole.status)  %></td>
  </tr>
<% end %>
</table>
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4">
    <%= will_paginate @holes, :renderer=>BootstrapPagination::Rails %>
  </div>
</div>
<div id="_close_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h5>您确认需要归档该钻孔吗</h5>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-hover table-bordered">
      <tr>
      <td>矿区</td>
       <td id="_minearea"></td>
      </tr>
      <tr>
      <td>合同</td>
       <td id="_contractname"></td>
      </tr>
      <tr>
      <td>钻孔编号</td>
       <td id="_holenumber"></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">否</button>
    <a href="#" class="btn btn-primary">是</a>
  </div>
</div>
<script language="javascript">
  function open_modal(obj)
  {
    $("#_minearea").html($(obj).parent().parent().find("td:eq(0)").text());
    $("#_holenumber").html($(obj).parent().parent().find("td:eq(1)").text());
    $("#_contractname").html($(obj).parent().parent().find("td:eq(6)").text());
    $("#_close_modal").modal();
  }
</script>
